{% macro render_exhibition_item(exhibition) %}
  <li id="exhibition_{{ exhibition.id }}">
    <div class="content">
      <div>
        <span class="title">{{ exhibition.title }}</span>
        {% if date(exhibition.start_date) < date() and date(exhibition.end_date) > date() %}
          <span class="status">전시중</span>
        {% endif %}
      </div>
      <div class="meta">
        <span class="term">일정 {{ exhibition.start_date|date('y.m.d') }} ~ {{ exhibition.end_date|date('y.m.d') }}</span>
        <div class="separator"></div>
        <span class="count">작품수 {{ exhibition.artwork_count }}개</span>
        {% if session.type == 0 %}<!-- and exhibition.status == 0 -->
        <div class="buttons">
          <button onclick="window.open('/exhibitions/'+ {{ exhibition.id }} +'/apply', 'applyPopup', 'width=1002,height=702');">지원하기 <img src="{{ 'images/apply_arrow.png' | static_url }}" class="arrow" /></button>
        </div>
        {% endif %}
      </div>
    </div>
  </li>

{% endmacro %}
