{% macro render_exhibitionNow_item(exhibition, index) %}
    <div class="exhibition" id="exhibition_{{ index }}">
      <div class="meta">
        <div class="title">{{ exhibition.title }}</div>
        <div class="term">일정&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ exhibition.start_date | date("y.m.d") }} ~ {{ exhibition.end_date | date("y.m.d") }}</div>
        <div class="artist">작가&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ exhibition.artists|slice(0,2)|join(', ') }} 외 {{ exhibition.artists|length - 2 }}명</div>
        <div class="artwork">작품&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;총 {{ exhibition.artworks|length }}개</div>
      </div>

      {% if exhibition.artworks|length > 0 %}
        <div class="artworksWrap">
          <div class="slider{% if exhibition.artworks|length <= 5 %} deactivate{% endif %}">
            {% for artwork in exhibition.artworks %}
              <div class="item">
                <a href="/artworks/{{ artwork.id }}"><img src="{{ artwork.image | thumb_url }}" class="imgThumbnail"></a>
              </div>
            {% endfor %}
          </div>
          {% if exhibition.artworks|length > 5 %}
            <button class="leftArrow"></button>
            <button class="rightArrow"></button>
          {% endif %}
        </div>
      {% endif %}
    </div>

{% endmacro %}
