{% macro render_exhibition_now_item(exhibition, index) %}
    <div class="exhibition" id="exhibition_{{ index }}">
      <div class="meta">
        <div class="title">{{ exhibition.title | slice(0,16) }}</div>
        <div class="term">일정<span class="detail">{{ exhibition.start_date | date("Y.m.d") }} ~ {{ exhibition.end_date | date("Y.m.d") }}</span></div>
        <div class="artist">작가<span class="detail">{{ exhibition.artists|slice(0,2)|join(', ') }} {% if exhibition.artists|length > 2 %}외 {{ exhibition.artists|length - 2 }}명{% endif %}</span></div>
        <div class="artwork">작품<span class="detail">총 {{ exhibition.artworks|length }}개</span></div>
      </div>

      {% if exhibition.artworks|length > 0 %}
        <div class="artworksWrap">
          <div class="slider{% if exhibition.artworks|length <= 5 %} deactivate{% endif %}">
            {% for artwork in exhibition.artworks %}
              <div class="item">
                <a href="/artworks/{{ artwork.id }}"><img src="{{ artwork.image | thumb_url }}" class="imgThumbnail"></a>
              </div>
            {% endfor %}
          </div>
          {% if exhibition.artworks|length > 5 %}
            <button class="leftArrow"></button>
            <button class="rightArrow"></button>
          {% endif %}
        </div>
      {% endif %}
    </div>

{% endmacro %}
