{% macro render_main_item(item, type, index) %}
  {# STATUS: PICKED (이미 PICKED된 아트웍 또는 장소) 사용자가 이미 PICK 했는지 여부 #}
  <li class="item {% if (index % 3) == 0 %}third{% endif %} {% if item.is_pick %}picked{% endif %}">
    <div class="wrap" data-type="{{ type }}" data-id="{{ item.id }}">
      <div class="imgThumb">
        <div class="dimm"></div>
        <div class="preview">
          미리 보기 <i class="glyphicon glyphicon-menu-right"></i>
        </div>
        {# 썸네일 이미지 TODO 썸네일 이미지 경로로 바꿔야 됨 #}
        <img class="img" src="/uploads/{{ item.image }}"/>
        {# 장소 타입인 경우 #}
        {% if type == TYPE_PLACES %}
          {# 모집중인지 아닌지 여부 #}
          {% if item.status == PLACE_STATUS_NEED_ARTWORK %}
            <div class="placeStatusTag recruit"></div>
          {% else %}
            <div class="placeStatusTag recruitFinish"></div>
          {% endif %}
        {% endif %}
        <button class="pickBtn"></button>
      </div>
      <div class="meta">
        <div class="pick">
          {# PICK 갯수 #}
          <span class="bold">PICK</span>
          <span class="number">{{ item.pick_count }}</span>
        </div>
        {# 작품 타입인 경우 #}
        {% if type == TYPE_ARTWORKS %}
          <div class="title">{{ item.title }}</div>
          <div class="name">{{ item.user_name }}</div>
          {# 장소 타입인 경우 #}
        {% else %}
          <div class="title">
            {{ item.name|length > 12 ? item.name|slice(0, 12) ~ '...' : item.name }}
          </div>
          <div class="description">
            {{ item.description|length > 53 ? item.description|slice(0, 53) ~ '...' : item.description }}
          </div>
          <div class="address">
            <div class="pin"></div>
            <div class="keyword">{{ item.address }}</div>
          </div>
          <div class="tags">{{ item.tags_html|striptags('<a>')|raw }}</div>
          <div class="displayCount">
            <span class="number">{{ item.exhibit_artwork_count }}</span>작품 전시중
          </div>
        {% endif %}
      </div>
    </div>
  </li>
{% endmacro %}
