{% extends "base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="../../static/dist/css/main/main.min.css">
{% endblock %}

{% block script %}
  <script type="text/javascript">
    $(function () {
      // Carousel Init
      var totalWidth = 0;
      var currentOffset = 0;
      var currentCoordinateX = 0;
      var totalCount = 0;
      var $items = $('.sliderTrack .item');

      totalCount = $items.length;

      $items.each(function (key, value) {
        totalWidth += $(value).outerWidth(true);
      });

      $('.sliderTrack').css({
        'width': totalWidth,
        'transform': 'translate3d(0, 0, 0)'
      });

      $('.sliderControl .sliderNextBtn').click(function () {
        // 갤러리의 전체 길이와 현재 노출된 갤러리의 길이를 비교하여 오른쪽으로 더 움직일지 말지 여부 확인
        var totalOuterWidth = parseInt($(window).width()) - 136 + currentCoordinateX;
        if (totalOuterWidth >= totalWidth) {
          return false;
        }

        if (currentOffset >= totalCount - 1) {
          return false;
        }

        currentCoordinateX += $($items.get(currentOffset++)).width();

        $('.sliderTrack').css({
          'transform': 'translate3d(-' + currentCoordinateX + 'px, 0, 0)'
        });
      });

      $('.sliderControl .sliderPrevBtn').click(function () {
        if (currentOffset <= 0) {
          return false;
        }

        currentCoordinateX -= $($items.get(--currentOffset)).width();

        $('.sliderTrack').css({
          'transform': 'translate3d(-' + currentCoordinateX + 'px, 0, 0)'
        });
      });

      // 아이템 클릭
      $('.wrap').click(function () {
        var type = $(this).data('type');
        var id = $(this).data('id');

        location.href = '/' + type + '/' + id;

        return false;
      });

      // 카드 클릭 이벤트와 안겹치도록 이벤트 버블링 방지
      $('.wrap a').click(function (event) {
        event.stopPropagation();
      });

      // 더 보기
      $('.patItemMoreButton').click(function () {
        $(this).hide();
        // 로더 보여주기
        $('.patLoader').show();

        var type = $(this).data('type');
        var offset = $('.patItemList li').length;
        var totalCount = $(this).data('total-count');

        $.get('/api/contents/' + type, {offset: offset, limit: 9})
          .done(function (data) {
            $('.itemList').append(data);

            $('.patLoader').hide();

            $('.patItemList li').removeClass('third').each(function (key, value) {
              if ((key + 1) % 3 == 0) {
                $(value).addClass('third');
              }
            });

            if (offset + 9 < totalCount) {
              $('.patItemMoreButton').show();
            }
          });
      });
    });
  </script>
{% endblock %}

{% block contents %}
  <div class="patGallery">
    <div class="container">
      <div class="slider">
        <div class="sliderTrack">
          <div class="item title">
            <img src="../../static/images/main_pick_artist.png"/>
          </div>
          {% for item in pick_artworks %}
            <div class="item {% if loop.first %}picked{% endif %}">
              <a href="/artworks/{{ item.id }}">
                <div class="imgThumb">
                  <div class="dimm"></div>
                  <div class="preview">
                    미리 보기 <i class="glyphicon glyphicon-menu-right"></i>
                  </div>
                  {# 썸네일 이미지 #}
                  <img class="img" src="http://cfile5.uf.tistory.com/image/2341BF3B51261D2B0685D4" />
                  <div class="meta">
                    <div class="title">{{ item.title }}</div>
                    <div class="pick"><span class="">PICK</span> {{ item.pick_count }}</div>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="sliderControl">
      <button class="sliderPrevBtn">
        <i class="glyphicon glyphicon-menu-left"></i>
      </button>
      <button class="sliderNextBtn">
        <i class="glyphicon glyphicon-menu-right"></i>
      </button>
    </div>
  </div>

  <div class="patTypeSelect">
    <ul class="typeSelectTab">
      <li><a {% if type == 'artworks' %}class="active"{% endif %} href="?type=artworks">ARTIST</a></li>
      <li><a {% if type == 'places' %}class="active"{% endif %} href="?type=places">SPACE</a></li>
    </ul>
    <div class="divider"></div>
  </div>

  {% if type == 'places' %}
    <div class="patPlaceTagCloud">
      <div class="container">
        <div class="tagLabel"></div>
        <ul class="tagList">
          <li><a href="?type=places&q=홍대">홍대</a></li>
          <li><a href="?type=places&q=인천">인천</a></li>
          <li><a href="?type=places&q=아트플랫폼">아트플랫폼</a></li>
          <li><a href="?type=places&q=한남동">한남동</a></li>
          <li><a href="?type=places&q=상수">상수</a></li>
        </ul>
      </div>
    </div>
  {% endif %}

  <div class="patItemList">
    <div class="container">
      {# 그리드 형태의 목록 (작품, 장소) #}
      <ul class="itemList {% if type == 'artworks' %}artworkList{% else %}placeList{% endif %}">
        {% for item in items %}
          {# STATUS: PICKED (이미 PICKED된 아트웍 또는 장소) 사용자가 이미 PICK 했는지 여부 정보 필요 #}
          <li class="item {% if (loop.index % 3) == 0 %}third{% endif %} {% if loop.first %}picked{% endif %}">
            <div class="wrap" data-type="{{ type }}" data-id="{{ item.id }}">
              <div class="imgThumb">
                <div class="dimm"></div>
                <div class="preview">
                  미리 보기 <i class="glyphicon glyphicon-menu-right"></i>
                </div>
                {# 썸네일 이미지 #}
                <img class="img" src="http://cfile5.uf.tistory.com/image/2341BF3B51261D2B0685D4" />
                {% if loop.first and type == 'places' %}
                  <div class="placeStatusTag recruit"></div>
                {% endif %}
                <button class="pickBtn"></button>
              </div>
              <div class="meta">
                <div class="pick">
                  {# PICK 갯수 #}
                  <span class="bold">PICK</span> {{ item.pick_count }}
                </div>
                {% if type == 'artworks' %}
                  <div class="title">{{ item.title }}</div>
                  <div class="name">{{ item.user_name }}</div>
                {% else %}
                  <div class="title">
                    {{ item.name|length > 12 ? item.name|slice(0, 12) ~ '...' : item.name  }}
                  </div>
                  <div class="description">
                    {{ item.description|length > 53 ? item.description|slice(0, 53) ~ '...' : item.description  }}
                  </div>
                  <div class="address">
                    <div class="pin"></div>
                    <div class="keyword">{{ item.address }}</div>
                  </div>
                  <div class="tags">{{ item.tags_html|striptags('<a>')|raw }}</div>
                  <div class="displayCount">
                    <span class="number">{{ item.exhibit_artwork_count }}</span>작품 전시중
                  </div>
                {% endif %}
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="patLoader"></div>

  {% if total_count > 9 %}
    {# 더 보기 버튼 #}
    <div class="patItemMore">
      <button class="patItemMoreButton" data-type="{{ type }}" data-total-count="{{ total_count }}">
        더 보기 <i class="glyphicon glyphicon-menu-down"></i>
      </button>
    </div>
  {% endif %}
{% endblock %}
