{% for item in items %}
  {# 픽된거면 picked 클래스 추가해야함 #}
  <li class="item">
    <a href="/places/{{ item.id }}">
      <div class="imgThumb">
        <div class="dimm"></div>
        <div class="preview">
          미리 보기 <i class="glyphicon glyphicon-menu-right"></i>
        </div>
        {# 썸네일 이미지 #}
        <img class="img" src="http://cfile5.uf.tistory.com/image/2341BF3B51261D2B0685D4" />
        {# 모집: recruit 모집 완료: recruitFinish #}
        {% if loop.first %}
          <div class="placeStatusTag recruit"></div>
        {% endif %}
        <button class="pickBtn"></button>
      </div>
      <div class="meta">
        <div class="pick">
          {# PICK 갯수 #}
          <span class="bold">PICK</span> {{ item.pick_count }}
        </div>
        <div class="title">{{ item.name }}</div>
        <div class="description">{{ item.description|length > 53 ? item.description|slice(0, 53) ~ '...' : item.description  }}</div>
        <div class="address">
          <div class="pin"></div>
          <div class="keyword">{{ item.address }}</div>
        </div>
        <div class="tags">{{ item.tags_html|raw }}</div>
        <div class="displayCount">
          <span class="number">{{ item.exhibit_artwork_count }}</span>작품 전시중
        </div>
      </div>
    </a>
  </li>
{% endfor %}
