{% extends "base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ 'dist/css/account/login.min.css' | static_url }}">
{% endblock %}

{% block script %}
  <script type="text/javascript">
    window.fbAsyncInit = function () {
      FB.init({
        appId: '{{ FACEBOOK_APP_ID }}',
        cookie: true,
        xfbml: true,
        version: '{{ FACEBOOK_API_VERSION }}'
      });
      FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    $('#patLoginForm').submit(function () {
      var emailOrUsernameElem = $("input[name=email_or_username]");
      var passwordElem = $("input[name=password]");

      if (!emailOrUsernameElem.val()) {
        alert('이메일 또는 유저 아이디를 입력해주세요.');
        emailOrUsernameElem.focus();
        return false;
      }

      if (!passwordElem.val()) {
        alert('패스워드를 입력해주세요.');
        passwordElem.focus();
        return false;
      }

      data = {};
      data.email_or_username = emailOrUsernameElem.val();
      data.password = passwordElem.val();

      $.ajax({
        method: "POST",
        url: "/api/login",
        data: data
      }).done(function (data) {
        if (data.result === true) {
          location.href = '/';
        } else {
          alert(data.body.message);
        }
      }).fail(function () {
        alert('서버에 문제가 있어 정상적으로 처리되지 않았습니다. \r\n잠시 후에 다시 시도해주세요.');
      });

      return false;
    });

    $('.facebookBtn').click(function () {
      FB.login(function (response) {
        if (response.status !== 'connected') {
          alert('페이스북 로그인을 사용할 수 없습니다.');
          return false;
        }
        $.ajax({
          method: "POST",
          url: "/api/login",
          data: {is_facebook: 1}
        }).done(function (data) {
          if (data.result === true) {
            return location.href = '/';
          } else if (data.errorCode === '{{ FACEBOOK_NOT_JOINED_USER }}') {
            return location.href = '/account/signup?' + $.param({is_facebook: 1});
          } else {
            if (data.errorCode === '{{ FACEBOOK_NOT_GRANTED_EMAIL_PERMISSION }}') {
              alert('email 권한이 필요합니다');
              rerequestFacebookPermissions();
            } else {
              alert(data.body.message);
            }
          }
        }).fail(function () {
          alert('서버에 문제가 있어 정상적으로 처리되지 않았습니다. \r\n잠시 후에 다시 시도해주세요.');
        });
      }, {scope: 'public_profile,email'});
    });

    $('#password_change_form').submit(function () {
      var emailElem = $("input[name=email]");

      if (!emailElem.val()) {
        alert('이메일을 입력해주세요.');
        emailElem.focus();
        return false;
      }

      data = {};
      data.email = emailElem.val();

      $.ajax({
        method: "POST",
        url: "/api/users/reset_password",
        data: data
      }).done(function (data) {
        if (data.result === true) {
          alert(data.body.message);
          $('#password_modal').modal('hide');
        } else {
          alert(data.body.message);
        }
      }).fail(function () {
        alert('서버에 문제가 있어 정상적으로 처리되지 않았습니다. \r\n잠시 후에 다시 시도해주세요.');
      });
      return false;
    });

    $('#password_submit').click(function () {
      $('#password_change_form').submit();
    });

    function rerequestFacebookPermissions() {
      FB.api('/me/permissions', function (response) {
        for (var i = 0; i < response.data.length; i++) {
          if (response.data[i].permission === 'email' && response.data[i].status === 'declined') {
            FB.login(function (response) {
              if (response.status === 'connected') {
                $('.facebookBtn').click();
              }
            }, {scope: 'public_profile,email', auth_type: 'rerequest'});
            break;
          }
        }
      });
    }

  </script>
{% endblock %}

{% block contents %}
  <!-- == 로그인 -->
  <div class="patLogin">
    <div class="container">
      <!-- == 로고 -->
      <div class="logo"></div>
      <!-- //== 로고 -->
      <!-- == 타이틀 -->
      <div class="title">잠자고 있는 여러분의 작품을 깨워주세요.</div>
      <!-- //== 타이틀 -->
      <!-- == 로그인 폼 -->
      <div class="loginForm">
        <div class="loginFormContainer">
          <form id="patLoginForm" method="POST">
            <!-- == 페이스북 로그인 -->
            <button type="button" class="facebookBtn"><span class="bold">Facebook</span>으로 로그인 하기</button>
            <!-- //== 페이스북 로그인 -->
            <div class="divider"></div>
            <fieldset>
              <input type="text" name="email_or_username" placeholder="이메일 또는 이름을 입력해주세요."/>
            </fieldset>
            <fieldset>
              <input type="password" name="password" placeholder="패스워드를 입력하세요."/>
            </fieldset>
            <button type="submit">로그인</button>
          </form>

          <div class="patLoginExcept">
            <p class="passwordFind">
              <a data-toggle="modal" data-target="#password_modal">비밀번호를 잊으셨나요?</a>
            </p>
            <p class="join">
              아직 회원이 아니신가요?<br/>
              <a href="/account/signup">회원가입하기</a>
            </p>
          </div>
        </div>
      </div>
      <!-- //== 로그인 폼 -->
    </div>
  </div>
  <!-- //== 로그인 -->

  <div class="modal fade" id="password_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">비밀번호 찾기</h4>
        </div>
        <div class="modal-body">
          <form id="password_change_form" class="ui form" method="POST" enctype="multipart/form-data"
                action="/api/users/reset_password">
            <div class="field">
              <div class="ui">
                <label>이메일</label>
                <input type="email" name="email" tabindex="0">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="password_submit">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endblock %}
