{% extends "base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ 'dist/css/account/signup.min.css' | static_url }}">
{% endblock %}

{% block script %}
  <script type="text/javascript">
    function checksUsername() {
      var username = document.getElementsByName("user_name")[0].value;
      var checkUsername = /^[A-Za-z0-9-_\.]{1,15}$/;

      if (!username) {
        document.getElementById("warningUsername").innerText = "유저 아이디가 입력되지 않았습니다.";
        $("#warningUsername").css("color", "red");
        $("#checkUsername").attr("value", "uncheck");
        return;
      }
      if (!username.match(checkUsername)) {
        document.getElementById("warningUsername").innerText = "아이디는 영어, 숫자, _-. 만 15자 이내로 입력 가능합니다.";
        $("#warningUsername").css("color", "red");
        $("#checkUsername").attr("value", "uncheck");
        return;
      }

      $.ajax({
        method: "GET",
        url: "/api/users/check_username",
        data: {username: username}
      }).done(function (data) {
        document.getElementById("warningUsername").innerText = data.body.message;
        if (data.result) {
          $("#warningUsername").css("color", "green");
          $("#checkUsername").attr("value", "check");
        } else {
          $("#warningUsername").css("color", "red");
          $("#checkUsername").attr("value", "uncheck");
        }
      }).fail(function (data) {
        alert('서버에 문제가 있어 정상적으로 처리되지 않았습니다. \r\n잠시 후에 다시 시도해주세요.');
      });
    }

    function checksEmail() {
      var email = document.getElementsByName("email")[0].value;

      // 정규식 출처: http://www.thewordcracker.com/jquery-examples/email-validation-javascript
      var checkEmail = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;

      if (!email) {
        document.getElementById("warningEmail").innerText = "이메일이 입력되지 않았습니다.";
        $("#warningEmail").css("color", "red");
        $("#checkEmail").attr("value", "uncheck");
        return;
      }
      if (!email.match(checkEmail)) {
        document.getElementById("warningEmail").innerText = "올바른 이메일 주소를 입력해주세요.";
        $("#warningEmail").css("color", "red");
        $("#checkEmail").attr("value", "uncheck");
        return;
      }

      $.ajax({
        method: "GET",
        url: "/api/users/check_email",
        data: {email: email}
      }).done(function (data) {
        document.getElementById("warningEmail").innerText = data.body.message;
        if (data.result) {
          $("#warningEmail").css("color", "green");
          $("#checkEmail").attr("value", "check");
        } else {
          $("#warningEmail").css("color", "red");
          $("#checkEmail").attr("value", "uncheck");
        }
      }).fail(function (data) {
        alert('서버에 문제가 있어 정상적으로 처리되지 않았습니다. \r\n잠시 후에 다시 시도해주세요.');
      });
    }

    $('#patSignUpForm').submit(function () {
      var checkEmail = $("input[name=checkEmail]");
      var checkUsername = $("input[name=checkUsername]");

      if (checkEmail === "uncheck" || checkUsername === "uncheck") {
        alert('정보를 바르게 입력해주세요.');
        return false;
      }

      var passwordElem = $("input[name=password]");
      if (!passwordElem.val()) {
        alert('패스워드를 입력해주세요.');
        passwordElem.focus();
        return false;
      }

      $.ajax({
        method: "POST",
        url: "/api/users/register",
        processData: false, // To send file
        contentType: false, // To send file
        data: new FormData($(this)[0])
      }).done(function (data) {
        if (data.result === true) {
          location.href = '/';
        } else {
          alert(data.body.message);
        }
      }).fail(function () {
        alert('서버에 문제가 있어 정상적으로 처리되지 않았습니다. \r\n잠시 후에 다시 시도해주세요.');
      });

      return false;
    });

    // 프로필 이미지 등록 변경
    $('input[type=file]').change(function () {
      var $this = $(this);

      // FileReader 객체가 있는 경우
      if (window.FileReader) {
        var reader = new FileReader();
        reader.onload = function (e) {
          var src = e.target.result;

          $this.closest('.profileImage').find('img').attr('src', src);
        };

        reader.readAsDataURL($this[0].files[0]);
      } else {
        var src = document.selection.createRange().text;

        $this.closest('.profileImage').find('img').attr('src', src);
      }
    });

    {% if facebook_error %}
    (function redirectFacebookException() {
      alert("서버에 문제가 있어 정상적으로 처리되지 않았습니다. \r\n잠시 후에 다시 시도해주세요.");
      location.href = '/';
    })();
    {% endif %}
  </script>
{% endblock %}

{% block contents %}
  <!-- == 회원가입 -->
  <div class="patSignUp">
    <div class="container">
      <!-- == 로고 -->
      <div class="logo"></div>
      <!-- //== 로고 -->
      <!-- == 타이틀 -->
      <div class="title">잠자고 있는 여러분의 작품을 깨워주세요.</div>
      <!-- //== 타이틀 -->

      <!-- == 회원가입 폼 -->
      <form id="patSignUpForm">
        <div class="signUpMessage">
          최소한의 정보만으로 여러분의 잠들어 있는 작품을<br/>
          다시 깨울 수 있는 기회를 잡으세요.
        </div>
        <div class="profileImage">
          {% if facebook_profile_image_url is empty %}
            <div class="dimm"></div>
            <div class="editBtn">
              <input type="file" name="profile_image" accept="image/*"/>
            </div>
            <img src="{{ 'images/avatar@2x.png' | static_url }}" class="img-circle"/>
          {% else %}
            <img src="{{ facebook_profile_image_url }}" class="img-circle"/>
          {% endif %}
        </div>
        <fieldset>
          <input type="text" name="user_name" placeholder="아이디" onkeyup="checksUsername()"/>
          <input type="hidden" id="checkUsername" name="checkUsername" value="uncheck"/>
          <div id="warningUsername"></div>
        </fieldset>
        <fieldset>
          {% if email and not duplicated_email %}
            <input type="hidden" name="email" value="{{ email }}"/>
            <div> {{ email }} </div>
          {% else %}
            <input type="text" name="email" placeholder="이메일" onkeyup="checksEmail()" value="{{ email }}"/>
          {% endif %}
          <input type="hidden" id="checkEmail" name="checkEmail" value="uncheck"/>
          <div id="warningEmail">{% if duplicated_email %}중복된 이메일 입니다.{% endif %}</div>
        </fieldset>
        <fieldset>
          <input type="password" name="password" placeholder="비밀번호"/>
        </fieldset>
        <fieldset>
          {% if facebook_profile_image_url %}
            <input type="hidden" name="profile_image" value="{{ facebook_profile_image_url }}"/>
            <input type="hidden" name="facebook_id" value="{{ facebook_id }}"/>
            <input type="hidden" name="is_facebook" value="1"/>
          {% else %}
            <input type="hidden" name="is_facebook" value="0"/>
          {% endif %}
        </fieldset>
        <fieldset class="patUserTypeField">
          <div class="radio checkbox">
            <input id="creatorType" type="radio" name="type" checked="checked" value="{{ USER_TYPE_ARTIST }}">
            <label for="creatorType"></label>
          </div>
          <div class="radio checkbox">
            <input id="placeType" type="radio" name="type" value="{{ USER_TYPE_PLACE_OWNER }}">
            <label for="placeType"></label>
          </div>
        </fieldset>
        <a class="loginBtn" href="/account/login">로그인으로</a>
        <button type="submit">회원가입</button>
      </form>
      <!-- //== 회원가입 폼 -->
    </div>
  </div>
  <!-- == 회원가입 -->
{% endblock %}
