{% extends "base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ 'dist/css/exhibitions/apply.min.css' | static_url }}">
{% endblock %}

{% block menubar %}
{% endblock %}

{% block script %}
  <script>
    $(function () {
      var applyFormElem = $('#applyForm');

      applyFormElem.validate({
        rules: {
          'artwork_id[]': {
            required: true
          }
        },
        messages: {
          'artwork_id[]': {
            required: "지원할 작품을 선택해 주세요."
          }
        }
      });

      applyFormElem.find("input[type=checkbox]").click(function () {
        if (!$("input[type=checkbox]").is(":checked")) {
          $("#applyForm").find(".registerBtn").attr("disabled", "disabled");
        } else {
          $("#applyForm").find(".registerBtn").removeAttr("disabled");
        }

        var selectedCount = $('input[type=checkbox]:checked').length;
        $('#selectedCount').html(selectedCount);
      });

      $('.cancelBtn').click(function() {
        self.close();
      });

      $('.registerBtn').click(function() {

        var exhibition_id = $(this).closest('form').find('input[name=exhibition_id]').val();
        var artwork_id = [];
        var checkedList = $(this).closest('form').find('input[type=checkbox]:checked');
        for(var i=0; i<checkedList.length; i++) {
          artwork_id.push(checkedList[i].value);
        }
        var reason = $(this).closest('form').find('textarea[name=reason]').val();

        $.ajax({
          method: 'POST',
          url: '/api/exhibition/apply',
          data: {
            exhibition_id: exhibition_id,
            artwork_id: artwork_id,
            reason: reason
          }
        })
          .done(function (data) {
            if (!data.result) {
              alert(data.body.message);
              return false;
            } else {
              console.log(data.body);
              alert(data.body.message);
            }
          })
          .fail(function (data) {
            alert(data.body.message);
          });
      });

    });
  </script>
{% endblock %}

{% block buttons %}
{% endblock %}

{% block contents %}
  <form id="applyForm" method="POST">
    <!-- == 작품 지원 -->
    <div class="apply">
      <span class="title">지원하는 전시</span>
      <span class="exhibitionTitle">{{ exhibition.title }}</span>

      <div class="message">
      </div>
      <div class="buttons">
        <a class="cancelBtn">취소</a>
        <button type="submit" class="registerBtn" disabled>지원하기</button>
      </div>
    </div>
    <!-- //== 작품 지원 -->

    <hr class="divider">
    {% if applied_artwork_count > 0 %}
      <span class="info"><i class="glyphicon glyphicon-info-sign"></i> 이미 지원한 이력이 존재합니다. 작품의 추가 지원만 가능하고 지원하는 이유는 마지막에 입력한 이유로 노출됩니다.</span>
    {% endif %}
    <div class="reasonInput">
      <textarea name="reason" placeholder="지원하는 이유를 작성해주세요.">{{ reason }}</textarea>
    </div>

    <br>

    <span class="applyTitle">지원작품</span>
    <span class="selected"><span id="selectedCount">0</span>개 선택</span>

    <span class="pull-right"><span class="select">선택</span> <img src="{{ 'images/arrow_down.png' | static_url }}" class="arrow" /></span>
    <input name="exhibition_id" type="hidden" value="{{ exhibition.id }}">

    <!-- == 지원 작품 목록 -->
    <div class="patItemList">
      <div class="container">
        <ul class="itemList artworkList">
          {% for artwork in artworks %}
            <li class="item {% if (loop.index % 5) == 0 %}fifth{% endif %} {% if artwork.apply_status == APPLY_STATUS_IN_REVIEW %}in_review{% elseif artwork.apply_status == APPLY_STATUS_ACCEPTED %}accepted{% endif %}">
              <div class="dimm"></div>
              <div class="inReviewStatus">
                <div class="icon"></div>
                <div class="status">전시요청중</div>
              </div>
              <div class="acceptedStatus">
                <div class="icon"></div>
                <div class="status">채택완료</div>
              </div>

              <input type="checkbox" id="artwork_{{ artwork.id }}" name="artwork_id[]" value="{{ artwork.id }}"
                     {% if artwork.apply_status == APPLY_STATUS_IN_REVIEW or artwork.apply_status == APPLY_STATUS_ACCEPTED %}disabled{% endif %}/>
              <label for="artwork_{{ artwork.id }}">
                <img class="imageThumb" src="{{ artwork.image | thumb_url }}"/>
              </label>
              <div class="box">✔</div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- //== 지원 작품 목록 -->
  </form>
{% endblock %}
