{% extends "base.twig" %}

{% block contents %}

<table class="ui definition table">
  <tr>
    <td>주인?</td>
    <td>{{ place.user.name }}</td>
  </tr>
  <tr>
    <td>장소 이름</td>
    <td>{{ place.name }} PICKS: {{ place.pick_count }}</td>
  </tr>
  <tr>
    <td>등록일</td>
    <td>{{ place.upload_date }}</td>
  </tr>
  <tr>
    <td>상태</td>
    <td>
      {% if place.status == 1 %}
        작품구함
      {% elseif place.status == 2 %}
        전시중
      {% elseif place.status == 3 %}
        작품 구하지 않음
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>주소</td>
    <td>{{ place.address }}</td>
  </tr>
  <tr>
    <td>장소 설명</td>
    <td>{{ place.description }}</td>
  </tr>
  <tr>
    <td>댓글 허용여부</td>
    <td>
      {% if place.use_comment == 1 %}
        댓글 가능
      {% else %}
        댓글 불가능
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>태그</td>
    <td>{{ place.tags }}</td>
  </tr>
  <tr>
    <td>대표이미지</td>
    <td>{{ place.image }}</td>
  </tr>
  <tr>
    <td>추가이미지</td>
    <td>
      {% for extra in place.extra_images %}
        {{ extra.image }}
      {% endfor %}
    </td>
  </tr>
  <tr>
    <td>전시 작품 이력</td>
    <td>
      {% for exhibition in exhibitions %}
        <img src="{{ exhibition.artwork.image }}">{{ exhibition.artwork.title }}<br>
      {% endfor %}
    </td>
  </tr>
</table>

  댓글리스트
<table class="table">
  <thead>
    <th>id</th>
    <th>user_id</th>
    <th>place_id</th>
    <th>comment</th>
    <th>poasted_at</th>
  </thead>
  <tbody>
  {% for comment in comments %}
    <tr>
      <td>{{ comment.id }}</td>
      <td>{{ comment.user_id }}</td>
      <td>{{ comment.place_id }}</td>
      <td>{{ comment.comment }}</td>
      <td>{{ comment.posted_at }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% block script %}
<script>
  $("#commentForm").submit(function() {
      var type = $("#commentForm").find("input[name=type]").val();
      var type_id = $("#commentForm").find("input[name=type_id]").val();
      var comment = $("#commentForm").find("textarea[name=comment]").val();

      var data = {
        type: type,
        type_id: type_id,
        comment: comment
      };

      console.log(data);

      $.ajax({
        method: "POST",
        url: "/api/comments/insert",
        data: data
      }).done(function (data) {
        // TODO 화면에 바로 그려주기
        console.log(data);
      }).fail(function() {
        alert("error");
      });
      console.log(type);
      return false;
  });
</script>
{% endblock %}

<div>
  댓글
  <table>
    <tbody>
      <tr>
        <td>
          <form id="commentForm">
            <input type="hidden" name="type" placeholder="" value="place">
            <input type="hidden" name="type_id" placeholder="" value="{{ place.id }}">
            <textarea name="comment" class="form-control" rows="3" cols="56"></textarea>
            <button type="submit" class="btn btn-default">등록</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<a class="ui green button" href="/places/edit/{{ place.id }}">수정</a>
<a class="ui button" href="/places">목록</a>

{% endblock %}
