{% extends "base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="/static/dist/magnific-popup/magnific-popup.css">
  <link rel="stylesheet" type="text/css" href="/static/dist/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="/static/dist/css/places/detail.min.css">
  <link rel="stylesheet" type="text/css" href="{{ 'dist/css/main/main.min.css' | static_url }}">
{% endblock %}

{% block script %}
  <script type="text/javascript" src="/static/dist/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script type="text/javascript" src="/static/dist/slick/slick.min.js"></script>
  <script type="text/javascript" src="{{ 'dist/js/detail.common.js' | static_url }}"></script>
  <script type="text/javascript" src="{{ 'dist/js/detail.comment.js' | static_url }}"></script>
{% endblock %}

{% block contents %}
  <div id="patDetail">
    <div class="container">
      <!-- == 장소명 -->
      <div class="meta">
        <!-- == 장소명 -->
        <div class="title">
          {{ place.name }}
        </div>
        <!-- == 장소 -->
        <div class="place">
          <div class="placeKeyword">
            <div class="pin"></div>
            <div class="keyword">{{ place.area }}</div>
          </div>
          <div class="address">
            {{ place.address }}
          </div>
        </div>
      </div>
      <!-- //== 제목 -->
      <!-- //== 제목 -->
      {% if session.id == place.user_id %}
        <!-- == 나의 글 관련 옵션 드랍다운 메뉴 -->
        <div class="dropdown">
          <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true">
            <div class="icon"></div>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a class="placeEditBtn" data-type="{{ TYPE_PLACES }}" data-id="{{ place.id }}">글 수정하기</a></li>
            <li><a class="placeDeleteBtn" data-type="{{ TYPE_PLACES }}" data-id="{{ place.id }}">글 삭제하기</a></li>
            <li><a class="placeCommentToggleBtn" data-type="{{ TYPE_PLACES }}" data-type-id="{{ place.id }}">댓글 {% if place.use_comment == TYPE_NO_COMMENT %}허용{% else %}비허용{% endif %}</a></li>
          </ul>
        </div>
        <!-- //== 나의 글 관련 옵션 드랍다운 메뉴 -->
      {% endif %}
      <!-- == 장소 -->
      <div class="places">
        <div class="mainThumbnail">
          <!-- == 메인 이미지 -->
          <div class="mainImage">
            <div class="image popupImage" data-mfp-src="{{ place.image | image_url }}">
              <div class="dimm"></div>
              <div class="preview">
                미리 보기 <i class="glyphicon glyphicon-menu-right"></i>
              </div>
              <img src="{{ place.image | thumb_url() }}"/>
            </div>
          </div>
        </div>
        {% if place.extra_images|length > 0 %}
          <div class="additionalImages">
            <div class="slider{% if place.extra_images|length <= 6 %} deactivate{% endif %}">
              {# data-mfp-src 에 (원본 이미지 URL) 하위 img src 에는 썸네일용 이미지 src를 설정 #}
              {% for extra in place.extra_images %}
                <div class="item">
                  <div class="imgThumbnail popupImage" data-mfp-src="{{ extra.image | image_url }}">
                    <div class="dimm"></div>
                    <div class="preview">미리 보기</div>
                    <img src="{{ extra.image | thumb_url }}"/>
                  </div>
                </div>
              {% endfor %}
            </div>
            {% if place.extra_images|length > 6 %}
              <button class="sliderPrevBtn"></button>
              <button class="sliderNextBtn"></button>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <!-- //== 장소 -->
      <!-- == 대표의 한마디 -->
      <div class="placeCommentary">
        <div class="meta">
          <div class="profileImage">
            {% if place.user.profile_image is empty %}
              <img src="{{ 'images/avatar.png' | static_url }}" class="img-circle"/>
            {% else %}
              <img src="{{ place.user.profile_image | thumb_url('profile') }}" class="img-circle"/>
            {% endif %}
          </div>
          <div class="says"><a href="/users/{{ place.user.user_name }}">{{ place.user.user_name }}</a>님의 한마디</div>
          <ul class="status">
            {% if place.is_now_exhibiting %}
              <li class="exhibition display">현재 전시중</li>
            {% elseif place.status == PLACE_STATUS_NEED_ARTWORK %}
              <li class="exhibition">작품 모집중</li>
            {% endif %}
            {% if place.exhibition.is_free == EXHIBITION_FOR_FREE %}
              <li class="fee">대관료 없음</li>
            {% else %}
              <li class="fee">대관료 있음</li>
            {% endif %}
            <li class="exhibition_available_count">
              {{ place.exhibition.start_date|date('Y.m.d') }} ~ {{ place.exhibition.end_date|date('Y.m.d') }}까지
              {% if place.is_now_exhibiting %}
                {{ place.exhibition.real_artwork_count }}개의 작품 전시중
              {% else %}
                {{ place.exhibition.artwork_count }}개의 작품 전시 가능함
              {% endif %}
            </li>
          </ul>
        </div>
        <div class="commentary">
          {{ place.description|nl2br }}
        </div>
        <div class="tags">
          {{ place.tags_html|raw }}
        </div>
        <div class="pick">
          <button class="pickBtn{% if place.is_picked == 1 %} active{% endif %}" data-type="{{ TYPE_PLACES }}" data-id="{{ place.id }}">
            PICK <span class="number">{{ place.pick_count }}</span>
          </button>
        </div>
      </div>
      <!-- //== 대표의 한마디 -->

      <!-- == 전시목록 -->
      <div class="exhibitionArea">
        <div class="title">전시목록</div><a class="addExhibitionBtn" href="/places/{{ place.id }}/exhibitions"><span>+ 추가</span></a>
        {% if exhibitions|length == 0 %}
          <span class="info"><i class="glyphicon glyphicon-info-sign"></i> 현재 이 장소의 전시정보가 없습니다. 정보를 등록해보세요.</span>
        {% else %}
        <hr class="divider"/>
        <ul class="exhibitions">
          {% import 'macro/exhibition.macro.twig' as exhibition_macro %}
          {% for exhibition in exhibitions %}
            {{ exhibition_macro.render_exhibition_item(exhibition) }}
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <!-- // == 전시 목록 -->

      <!-- == 지금 전시중이에요! -->
      <div class="currentExhibitionArea">
        <div class="titleWrap">
          <div class="title">지금 전시중이에요!</div>
          <ul class="artworkPages">
            <li class="item active">01</li>
            <li class="item">02</li>
          </ul>
        </div>
        <hr class="divider"/>

        <div class="exhibition">
          <div class="meta">
            <div class="title">나의 서사시</div>
            <div class="term">일정&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ "170321"|date('y.m.d') }} ~ {{ "170421"|date('y.m.d') }}</div>
            <div class="artist">작가&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;김연수 유소영</div>
            <div class="artwork">작품&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;총 12개</div>
          </div>

          <div class="artworksWrap">
            <img src="{{ 'images/exhibition_left_arrow.png' | static_url }}" class="leftArrow" />
            <img src="{{ 'images/exhibition_right_arrow.png' | static_url }}" class="rightArrow" />
            <ul class="artworks">
              <li class="item"><a href="#"><img src="{{ 'images/tom.jpg' | static_url }}" class="imgThumbnail"></a></li>
              <li class="item"><a href="#"><img src="{{ 'images/tom.jpg' | static_url }}" class="imgThumbnail"></a></li>
              <li class="item"><a href="#"><img src="{{ 'images/tom.jpg' | static_url }}" class="imgThumbnail"></a></li>
              <li class="item"><a href="#"><img src="{{ 'images/tom.jpg' | static_url }}" class="imgThumbnail"></a></li>
              <li class="item"><a href="#"><img src="{{ 'images/tom.jpg' | static_url }}" class="imgThumbnail"></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- // == 지금 전시중이에요! -->

      {% if place.use_comment == 1 %}
        <!-- == 댓글 -->
        <div class="commentArea">
          <div class="title">댓글 <span class="number">{{ comment_count }}</span></div>
          <hr class="divider"/>
          {% if comment_count > 3 %}
            <div class="commentMore">
              <div class="patLoader"></div>
              <button class="commentMoreBtn" data-type="{{ TYPE_PLACES }}" data-type-id="{{ place.id }}">
              이전 댓글 더보기 <i class="glyphicon glyphicon-menu-down"></i>
              </button>
            </div>
          {% endif %}
          <ul class="comments">
            {% import 'macro/comment.macro.twig' as comment_macro %}
            {% for comment in comments %}
              {{ comment_macro.render_comment_item(comment, TYPE_PLACES) }}
            {% endfor %}
          </ul>
        </div>
        <!-- //== 댓글 -->
        <!-- == 댓글 입력 -->
        <form id="commentRegisterForm" class="commentForm">
          <input type="hidden" name="type" placeholder="" value="{{ TYPE_PLACES }}">
          <input type="hidden" name="type_id" placeholder="" value="{{ place.id }}">
          <textarea class="commentInput" name="comment" placeholder="장소에 대한 댓글을 남겨보세요."></textarea>
          <button type="submit">확인</button>
        </form>
        <!-- //== 댓글 입력 -->
      {% endif %}
      {% if exhibition_artwork_count > 0 %}
        <!-- == 전시 이력 -->
        <div class="exhibitionArea">
          <div class="titleWrap">
            <div class="title">전시했던 작가</div>
            {% if exhibition_artwork_count|length > 4 %}
              <div class="sliderControl">
                <button class="prevBtn">
                  <span class="glyphicon glyphicon-menu-left"></span>
                </button>
                <button class="nextBtn">
                  <span class="glyphicon glyphicon-menu-right"></span>
                </button>
              </div>
            {% endif %}
          </div>
          <div class="exhibitions">
            {% for exhibition in exhibitions %}
              {% for artwork in exhibition.artworks %}
                <div class="item">
                  <a href="/artworks/{{ artwork.id }}">
                    <div class="imgThumbnail">
                      <img src="{{ artwork.image | thumb_url }}"/>
                    </div>
                    <div class="meta">
                      <div class="name">{{ artwork.user.user_name }}</div>
                      <div class="date">
                        전시기간 {{ exhibition.start_date|date('y.m.d') }} ~ {{ exhibition.end_date|date('y.m.d') }}
                      </div>
                    </div>
                  </a>
                </div>
              {% endfor %}
            {% endfor %}
          </div>
        </div>
        <!-- //== 전시 이력 -->
      {% endif %}
    </div>
  </div>
{% endblock %}


