{% extends "base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ 'dist/slick/slick.css' | static_url }}">
  <link rel="stylesheet" type="text/css" href="{{ 'dist/magic-check/magic-check.min.css' | static_url }}">
  <link rel="stylesheet" type="text/css" href="{{ 'dist/css/places/edit.min.css' | static_url }}">
{% endblock %}

{% block script %}
  <script type="text/javascript" src="{{ 'dist/js/jquery-ui.min.js' | static_url }}"></script>
  <script type="text/javascript" src="{{ 'dist/slick/slick.min.js' | static_url }}"></script>
  <script type="text/javascript">
    $(function () {
      // 추가 이미지 슬라이더
      $('.slider').slick({
        infinite: false,
        variableWidth: true,

        slidesToShow: 6,
        slidesToScroll: 1,

        prevArrow: false,
        nextArrow: false
      });

      // 슬라이더 컨트롤
      $('.sliderPrevBtn').click(function () {
        $('.slider').slick('slickPrev');

        return false;
      });

      $('.sliderNextBtn').click(function () {
        $('.slider').slick('slickNext');

        return false;
      });

      // 이미지 사이즈에 맞게 재조정
      $('.mainImage.imageSelected').css({width: $('.mainImage.imageSelected .preview').width()});

      // 파일 선택시 이벤트
      $('input[type=file]').change(function () {
        var wrapElement = $(this).closest('.imageUpload');
        var previewElement = $(this).closest('.imageUpload').find('.preview');

        // FileReader 객체가 있는 경우
        if (window.FileReader) {
          var reader = new FileReader();
          reader.onload = function (e) {
            var src = e.target.result;

            previewElement.removeClass('hidden').attr('src', src);
            wrapElement.addClass('imageSelected').css({width: previewElement.width()});
          };

          reader.readAsDataURL($(this)[0].files[0]);
        } else {
          var src = document.selection.createRange().text;

          previewElement.removeClass('hidden').attr('src', src);
          wrapElement.addClass('imageSelected').css({width: previewElement.width()});
        }

        // 메인 이미지일 경우 사이즈 재조정
        if ($(this).hasClass('mainImage')) {
          $('.mainImage.imageSelected').css({width: $('.mainImage.imageSelected .preview').width()});
        }
      });

      // 설명 및 태그 입력 시 포커스 이벤트
      $('input[name=tags], textarea[name=description]').focus(function () {
        $(this).closest('.descriptionInput').addClass('active');
      })
        .focusout(function () {
          $(this).closest('.descriptionInput').removeClass('active');
        });

      // 메인 이미지 교체 클릭
      $('.replace').click(function () {
        $('#mainImageFile').trigger('click');
      });

      // 추가 이미지 업로드 삭제 하는 경우
      $('.imageUpload input[type=checkbox]').change(function () {
        $(this).closest('.imageUpload').toggleClass('checked', $(this).is(':checked'));

        updateAdditionalRemoveInstruction();
      });

      // 삭제 설명 관련 표시
      function updateAdditionalRemoveInstruction() {
        var length = $('.imageUpload input[type=checkbox]:checked').length;

        $('.additionalImages .removeInstruction').toggle(length > 0);
        $('.additionalImages .instruction').toggle(length == 0);
      }

      // 추가 이미지 삭제 버튼 클릭
      $('.removeInstruction .removeBtn').click(function () {
        var type = $(this).closest('form').find('input[name=type]').val();
        var id = $(this).closest('form').find('input[name=id]').val();
        var targetDeletedWhenUploaded = $('.imageUpload.uploaded input[type=checkbox]:checked');

        // 새로 등록하는 경우
        if (!id || targetDeletedWhenUploaded.length === 0) {
          cleanAllRemoveCheckedFiles();

          return false;
        }

        // 기존 이미지 삭제하는 경우
        var formData = new FormData();
        formData.append('type', type);
        formData.append('type_id', id);

        targetDeletedWhenUploaded.each(function () {
          formData.append('delete_images[]', $(this).val());
        });

        $.ajax({
          method: 'POST',
          url: '/api/contents/delete_extra_images',
          processData: false, // To send Form Data
          contentType: false, // To send Form Data
          data: formData
        })
          .done(function (data) {
            if (!data.result) {
              alert(data.body.message);

              return false;
            }

            cleanAllRemoveCheckedFiles();
          })
          .fail(function () {
            alert('삭제 도중 오류가 발생했습니다. 다시 시도해 주세요.');
          });
      });

      // 추가 이미지 삭제 체크된 파일 삭제 갱신
      function cleanAllRemoveCheckedFiles() {
        $('.imageUpload input[type=checkbox]:checked').each(function () {
          var element = $(this).closest('.imageUpload');

          element.removeClass('imageSelected uploaded').find('.preview').addClass('hidden').removeAttr('src');
          element.find('input[type=checkbox]').prop('checked', false).trigger('change');
          element.find('input[type=file]').val('');
        });
      }

      // validation
      $("#patUploadForm").validate({
        rules: {
          name: {
            required: true,
            maxlength: 20
          },
          area: {
            required: true,
            maxlength: 6
          },
          address: "required",
          image: {
              required: function(element) {
                  return $("#mainImageFile").attr('value') === '';
              }
          },
          description: {
            required: true,
            maxlength: 100
          },
          tags: {
            required: true,
            maxlength: 60
          },
          exhibition_artwork_count: "required",
          exhibition_title: "required",
          exhibition_start_date: "required",
          exhibition_end_date: "required"
        },
        messages: {
          name: {
            required: "장소명을 입력해 주세요.",
            maxlength: "장소명은 20자까지 입력 가능합니다."
          },
          area: {
            required: "대표 장소를 입력해 주세요.",
            maxlength: "대표 장소는 6자까지 입력 가능합니다."
          },
          address: {
            required: "주소를 입력해 주세요."
          },
          image: {
            required: "사진을 추가해 주세요."
          },
          description: {
            required: "장소 설명을 입력해 주세요.",
            maxlength: "장소 설명은 100자 까지 입력 가능합니다."
          },
          tags: {
            required: "태그를 입력해 주세요.",
            maxlength: "태그는 60자 까지 입력 가능 합니다."
          }
        }
      });

      $('.patGnbSubmit').click(function() {
        $("#patUploadForm").submit();
      });
    });
  </script>
  <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
  <script>
    $('input[name=address]').click(function() {
      var $this = $(this);
      var $area = $('input[name=area]');
      new daum.Postcode({
        oncomplete: function(data) {
          $this.val(data.roadAddress);
          if (!$area.val()) {
            $area.val(data.bname);
          }
        }
      }).open({popupName: 'addressPopup'});
    });
  </script>
{% endblock %}

{% block buttons %}
  <ul class="nav navbar-nav navbar-right">
    <li class="patGnbCancel">
      <a class="noDivider" href="{% if id %}/places/{{ id }}{% else %}/{% endif %}">취소</a>
    </li>
    <li class="patGnbSubmit">
      <a class="noDivider" href="#">등록</a>
    </li>
  </ul>
{% endblock %}

{% block contents %}
  <div id="patDetail">
    <div class="container">
      <!-- == 업로드 폼 -->
      <form id="patUploadForm" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{ id }}"/>
        <input type="hidden" name="type" value="places"/>

        <!-- == 장소명 입력 -->
        <div class="title">
          <input type="text" name="name" placeholder="장소명을 입력해주세요." value="{{ name }}"/>
        </div>
        <!-- //== 장소명 입력 -->
        <div class="addressInput">
          <!-- == 대표 장소 -->
          <div class="area">
            <div class="pin"></div>
            <input type="text" name="area" placeholder="키워드 입력" value="{{ area }}"/>
          </div>
          <!-- //== 대표 장소 -->
          <!-- == 주소 장소 -->
          <div class="address">
            <input type="text" name="address" placeholder="상세 주소" value="{{ address }}" readonly/>
          </div>
          <!-- //== 주소 -->
        </div>
        <!-- == 대표 이미지 선택 -->
        <div class="mainImage imageUpload{% if image is not null %} imageSelected{% endif %}">
          <!-- == 교체 아이콘 -->
          <div class="replace">
            <div class="icon"></div> 교체
          </div>
          <!-- //== 교체 아이콘 -->
          {% if image is null %}
            <div class="instruction">
              <div class="icon">
                <img src="{{ 'images/icon_plus.png' | static_url }}"/>
              </div>
              <p class="upload">대표 사진 올리기</p>
              <p class="description">
                3:4 비율로 적용됩니다.
              </p>
            </div>
          {% endif %}
          <img src="{{ image | image_url }}" class="preview{% if image is null %} hidden{% endif %}"/>
          <input type="file" name="image" id="mainImageFile" accept="image/*" value="{{ image }}"/>
        </div>
        <!-- //== 대표 이미지 선택 -->
        <!-- == 추가 이미지 선택 -->
        <div class="additionalImages">
          <div class="slider">
            {% for key in 0..9 %}
              <div class="item imageUpload{% if extra_images[key].image %} imageSelected uploaded{% endif %}">
                <div class="border"></div>
                <div class="add"></div>
                <!-- == 삭제 아이콘 -->
                <div class="remove">
                  <input type="checkbox" id="extra_images_{{ key + 1}}" name="delete_images[]" value="{{ extra_images[key].image }}"/>
                  <label for="extra_images_{{ key + 1 }}">
                    <div class="icon"></div>
                  </label>
                </div>
                <!-- //== 삭제 아이콘 -->
                <img src="{{ extra_images[key].image | image_url }}" class="preview {% if extra_images[key].image is null %} hidden{% endif %}"/>
                <input type="file" name="extra_images[]" accept="image/*"/>
              </div>
            {% endfor %}
          </div>
          <!-- == 컨트롤 -->
          <button class="sliderPrevBtn"></button>
          <button class="sliderNextBtn"></button>
          <!-- //== 컨트롤 -->
          <div class="instruction">
            장소 사진은 최대 10개까지 올리실 수 있습니다.
          </div>
          <div class="removeInstruction">
            선택한 사진을 삭제하시려면 옆의 확인 버튼을 눌러주세요. <button type="button" class="removeBtn">확인</button>
          </div>
        </div>
        <!-- //== 추가 이미지 선택 -->
        <!-- == 작품 설명 -->
        <div class="descriptionInput">
          <textarea name="description"
                    placeholder="장소를 소개해주세요. (최대 100자)">{% if description %}{{ description }}{% endif %}</textarea>
          <div class="tags">
            <input type="text" name="tags" value="{{ tags }}" placeholder="# 태그를 입력해주세요"/>
          </div>
        </div>
        <!-- //== 작품 설명 -->
        <!-- == 취소, 등록 -->
        <div class="buttons">
          <a href="/" class="cancelBtn">취소</a>
          <button type="submit" class="registerBtn">등록</button>
        </div>
        <!-- //== 취소, 등록 버튼 -->
      </form>
      <!-- //== 업로드 폼 -->
    </div>
  </div>

  {# TODO: ALERT? #}
  {% if error %}
    에러 메시지: {{ error|raw }}
    <br>
    <br>
  {% endif %}
{% endblock %}
