{% extends "base.twig" %}

{% block contents %}
  
  {% if error %}
    에러 메시지: {{ error|raw }}
    <br>
    <br>
  {% endif %}
  
  <form class="ui form" method="POST" enctype="multipart/form-data">
    <div class="field">
      <label>장소명</label>
      <input type="text" name="name" placeholder="" value="{{ name }}">
    </div>
    <div class="inline fields">
      <label for="status">장소 상태</label>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="status" value="1" {% if status == 1 or not status %}checked="checked"{% endif %}
                 tabindex="0">
          <label>작품구함</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="status" value="2" {% if status == 2 %}checked="checked" {% endif %}tabindex="0">
          <label>전시중</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="status" value="3" {% if status == 3 %}checked="checked" {% endif %}tabindex="0">
          <label>작품 구하지 않음</label>
        </div>
      </div>
    </div>
    <div class="inline fields">
      <label for="status">댓글허용</label>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="use_comment" value="1"
                 {% if use_comment is not defined or use_comment == 1 %}checked="checked"{% endif %} tabindex="0">
          <label>댓글 허용함</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="use_comment" value="0"
                 {% if use_comment is defined and use_comment == 0 %}checked="checked"{% endif %} tabindex="0">
          <label>댓글 허용 안함</label>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="ui">
        <label>대표 이미지</label>
        {% if image %}등록된 이미지 {{ image }}{% endif %}
        <input type="file" name="image" tabindex="0">
      </div>
    </div>
    
    <div class="field">
      <div class="ui">
        <label>추가 이미지</label>
        {% for image in extra_images %}
          <p>{{ image.image }} 삭제: <input type="checkbox" name="delete_images[]" value="{{ image.image }}"></p>
        {% endfor %}
        <input type="file" name="extra_images[]" multiple/>
      </div>
    </div>
    
    <div class="field">
      <label>주소</label>
      <textarea name="address">{{ address }}</textarea>
    </div>
    
    <div class="field">
      <label>장소 설명</label>
      <textarea name="description">{{ description }}</textarea>
    </div>
    
    <div class="field">
      <label>태그</label>
      <input type="text" name="tags" value="{{ tags }}">
    </div>
    
    <button class="ui button" type="submit">Submit</button>
  </form>

{% endblock %}
