{% extends "base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="/static/dist/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="/static/dist/magic-check/magic-check.min.css">
  <link rel="stylesheet" type="text/css" href="/static/dist/css/places/edit.min.css">
{% endblock %}

{% block script %}
  <script src="{{ 'dist/js/jquery-ui.min.js' | static_url }}"></script>
  <script src="{{ 'dist/js/datepicker-ko.js' | static_url }}"></script>
  
  <script type="text/javascript" src="/static/dist/slick/slick.min.js"></script>
  <script type="text/javascript">
    $(function () {
      // 추가 이미지 슬라이더
      $('.slider').slick({
        infinite: false,
        variableWidth: true,

        slidesToShow: 6,
        slidesToScroll: 1,

        prevArrow: false,
        nextArrow: false
      });

      // 슬라이더 컨트롤
      $('.sliderPrevBtn').click(function () {
        $('.slider').slick('slickPrev');

        return false;
      });

      $('.sliderNextBtn').click(function () {
        $('.slider').slick('slickNext');

        return false;
      });

      // 이미지 사이즈에 맞게 재조정
      $('.mainImage.imageSelected').css({width: $('.mainImage.imageSelected .preview').width()});

      // 파일 선택시 이벤트
      $('input[type=file]').change(function () {
        var wrapElement = $(this).closest('.imageUpload');
        var previewElement = $(this).closest('.imageUpload').find('.preview');

        // FileReader 객체가 있는 경우
        if (window.FileReader) {
          var reader = new FileReader();
          reader.onload = function (e) {
            var src = e.target.result;

            previewElement.removeClass('hidden').attr('src', src);
            wrapElement.addClass('imageSelected').css({width: previewElement.width()});
          };

          reader.readAsDataURL($(this)[0].files[0]);
        } else {
          var src = document.selection.createRange().text;

          previewElement.removeClass('hidden').attr('src', src);
          wrapElement.addClass('imageSelected').css({width: previewElement.width()});
        }
      });

      // 설명 및 태그 입력 시 포커스 이벤트
      $('input[name=tags], textarea[name=description]').focus(function () {
        $(this).closest('.descriptionInput').addClass('active');
      })
        .focusout(function () {
          $(this).closest('.descriptionInput').removeClass('active');
        });

      // 메인 이미지 교체 클릭
      $('.replace').click(function () {
        $('#mainImageFile').trigger('click');
      });

      // 추가 이미지 업로드 삭제 하는 경우
      $('.imageUpload input[type=checkbox]').change(function () {
        $(this).closest('.imageUpload').toggleClass('checked', $(this).is(':checked'));

        updateAdditionalRemoveInstruction();
      });

      // 삭제 설명 관련 표시
      function updateAdditionalRemoveInstruction() {
        var length = $('.imageUpload input[type=checkbox]:checked').length;

        $('.additionalImages .removeInstruction').toggle(length > 0);
        $('.additionalImages .instruction').toggle(length == 0);
      }

      // 추가 이미지 삭제 버튼 클릭
      $('.removeInstruction .removeBtn').click(function () {
        var type = $(this).closest('form').find('input[name=type]').val();
        var id = $(this).closest('form').find('input[name=id]').val();
        var targetDeletedWhenUploaded = $('.imageUpload.uploaded input[type=checkbox]:checked');

        // 새로 등록하는 경우
        if (!id || targetDeletedWhenUploaded.length == 0) {
          cleanAllRemoveCheckedFiles();

          return false;
        }

        // 기존 이미지 삭제하는 경우
        var formData = new FormData();
        formData.append('type', type);
        formData.append('type_id', id);

        targetDeletedWhenUploaded.each(function () {
          formData.append('delete_images[]', $(this).val());
        });

        $.ajax({
          method: 'POST',
          url: '/api/contents/delete_extra_images',
          processData: false, // To send Form Data
          contentType: false, // To send Form Data
          data: formData
        })
          .done(function (data) {
            if (!data.result) {
              alert(data.body.message);

              return false;
            }

            cleanAllRemoveCheckedFiles();
          })
          .fail(function () {
            alert('삭제 도중 오류가 발생했습니다. 다시 시도해 주세요.');
          });
      });

      // 추가 이미지 삭제 체크된 파일 삭제 갱신
      function cleanAllRemoveCheckedFiles() {
        $('.imageUpload input[type=checkbox]:checked').each(function () {
          var element = $(this).closest('.imageUpload');

          element.removeClass('imageSelected uploaded').find('.preview').addClass('hidden').removeAttr('src');
          element.find('input[type=checkbox]').prop('checked', false).trigger('change');
          element.find('input[type=file]').val('');
        });
      }

      $("#patUploadForm").validate({
        rules: {
          name: "required",
          area: "required",
          address: "required",
          image: "required",
          description: {
            required: true,
            maxlength: 100
          },
          tags: {
            required: true,
            maxlength: 60
          },
          exhibition_artwork_count: "required",
          exhibition_title: "required",
          exhibition_start_date: "required",
          exhibition_end_date: "required"
        },
        messages: {
          name: {
            required: "장소명을 입력해 주세요."
          },
          area: {
            required: "대표 장소를 입력해 주세요."
          },
          address: {
            required: "주소를 입력해 주세요."
          },
          image: {
            required: "사진을 추가해 주세요."
          },
          description: {
            required: "장소 설명을 입력해 주세요.",
            maxlength: "설명은 100자 까지 입력 가능 합니다."
          },
          tags: {
            required: "태그를 입력해 주세요.",
            maxlength: "태그는 60자 까지 입력 가능 합니다."
          },
          exhibition_artwork_count: {
            required: "전시 가능한 작품 수를 입력해 주세요."
          },
          exhibition_title: {
            required: "전시 제목을 입력해 주세요."
          },
          exhibition_start_date: {
            required: "전시 시작일을 입력해 주세요."
          },
          exhibition_end_date: {
            required: "전시 종료일을 입력해 주세요."
          }
        }
      });


      // datepicker
      $("#exhibitionStartDate").datepicker();
      $("#exhibitionEndDate").datepicker();
    });
  </script>
  <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
  <script>
    $('input[name=address]').click(function() {
      var $this = $(this);
      var $area = $('input[name=area]');
      new daum.Postcode({
        oncomplete: function(data) {
          $this.val(data.roadAddress);
          if (!$area.val()) {
            $area.val(data.bname);
          }
        }
      }).open({popupName: 'addressPopup'});
    });
  </script>
{% endblock %}

{% block contents %}
  <div id="patDetail">
    <div class="container">
      <!-- == 업로드 폼 -->
      <form id="patUploadForm" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{ id }}"/>
        <input type="hidden" name="type" value="places"/>

        <!-- == 장소명 입력 -->
        <div class="title">
          <input type="text" name="name" placeholder="장소명을 입력해주세요." value="{{ name }}"/>
        </div>
        <!-- //== 장소명 입력 -->
        <!-- == 대표 장소 -->
        <div class="area">
          <div class="pin"></div>
          <input type="text" name="area" placeholder="대표 장소" value="{{ area }}"/>
        </div>
        <!-- //== 대표 장소 -->
        <!-- == 주소 장소 -->
        <div class="address">
          <input type="text" name="address" placeholder="상세 주소" value="{{ address }}" readonly/>
        </div>
        <!-- //== 주소 -->
        <!-- == 대표 이미지 선택 -->
        <div class="mainImage imageUpload{% if image is not null %} imageSelected{% endif %}">
          <!-- == 교체 아이콘 -->
          <div class="replace">
            <div class="icon"></div> 교체
          </div>
          <!-- //== 교체 아이콘 -->
          {% if image is null %}
            <div class="instruction">
              <div class="icon"><i class="glyphicon glyphicon-plus"></i></div>
              <p class="upload">대표 사진 올리기</p>
              <p class="description">
                3:4 비율로 적용됩니다.
              </p>
            </div>
          {% endif %}
          <img src="{{ image | image_url }}" class="preview{% if image is null %} hidden{% endif %}"/>
          <input type="file" name="image" id="mainImageFile" accept="image/*" {% if image is null %}required{% endif %}/>
        </div>
        <!-- //== 대표 이미지 선택 -->
        <!-- == 추가 이미지 선택 -->
        <div class="additionalImages">
          <div class="slider">
            {% for key in 0..9 %}
              <div class="item imageUpload{% if extra_images[key].image %} imageSelected uploaded{% endif %}">
                <div class="border"></div>
                <div class="add"></div>
                <!-- == 삭제 아이콘 -->
                <div class="remove">
                  <input type="checkbox" id="extra_images_{{ key + 1}}" name="delete_images[]" value="{{ extra_images[key].image }}"/>
                  <label for="extra_images_{{ key + 1 }}">
                    <div class="icon"></div>
                  </label>
                </div>
                <!-- //== 삭제 아이콘 -->
                <img src="{{ extra_images[key].image | image_url }}" class="preview {% if extra_images[key].image is null %} hidden{% endif %}"/>
                <input type="file" name="extra_images[]" accept="image/*"/>
              </div>
            {% endfor %}
          </div>
          <!-- == 컨트롤 -->
          <button class="sliderPrevBtn"></button>
          <button class="sliderNextBtn"></button>
          <!-- //== 컨트롤 -->
          <div class="instruction">
            장소 사진은 최대 10개까지 올리실 수 있습니다.
          </div>
          <div class="removeInstruction">
            선택한 사진을 삭제하시려면 옆의 확인 버튼을 눌러주세요. <button type="button" class="removeBtn">확인</button>
          </div>
        </div>
        <!-- //== 추가 이미지 선택 -->
        <!-- == 작품 설명 -->
        <div class="descriptionInput">
          <textarea name="description" title="description"
                    placeholder="장소를 소개해주세요. (최대 100자)">{% if description %}{{ description }}{% endif %}</textarea>
          <div class="tags">
            <input type="text" title="tags" name="tags" value="{{ tags }}" placeholder="# 태그를 입력해주세요"/>
          </div>
        </div>
        <!-- //== 작품 설명 -->
        <!-- == 옵션 선택 -->
        <div class="options">
          <div class="leftPane">
            <!-- == 공간 옵션 -->
            <div class="exhibition clear">
              <div class="title">전시</div>
              <div class="radio">
                <input id="statusNeed" class="magic-radio" type="radio" name="status"
                       value="{{ PLACE_STATUS_NEED_ARTWORK }}"
                       {% if status is not defined or status == PLACE_STATUS_NEED_ARTWORK %}checked="checked"{% endif %}/>
                <label for="statusNeed">작품구함</label>
                <input id="statusNotNeed" class="magic-radio" type="radio" name="status"
                       value="{{ PLACE_STATUS_NOT_NEED_ARTWORK }}"
                       {% if status is defined and status == PLACE_STATUS_NOT_NEED_ARTWORK %}checked="checked"{% endif %}/>
                <label for="statusNotNeed">작품 구하지 않음</label>
              </div>
            </div>
            <!-- //== 공간 옵션 -->
            <!-- == 전시 일정 -->
            <div class="exhibitionDate clear">
              <div class="title">전시일정</div>
              <div class="field">
                <input type="text" name="exhibition_start_date" id="exhibitionStartDate" maxlength="8" placeholder="{{ now|date('Ymd') }}"
                       value="{% if exhibition_start_date is not null %}{{ exhibition_start_date|date('Ymd') }}{% endif %}"/>
                부터
                <input type="text" name="exhibition_end_date" id="exhibitionEndDate" maxlength="8" placeholder="{{ now|date('Ymd') }}"
                       value="{% if exhibition_end_date is not null %}{{ exhibition_end_date|date('Ymd') }}{% endif %}"/>
                까지
              </div>
            </div>
            <!-- //== 전시 일정 -->
            <!-- == 작품 수 -->
            <div class="exhibitionNumber clear">
              <div class="title">작품 수</div>
              <div class="field">
                <input type="text" name="exhibition_artwork_count" min="0" max="100" placeholder="0"
                       value="{{ exhibition_artwork_count }}" /> 점
              </div>
            </div>
            <!-- //== 작품 수 -->
          </div>
          <div class="rightPane">
            <!-- == 댓글 옵션 -->
            <div class="comment clear">
              <div class="title">댓글</div>
              <div class="radio">
                <input id="comment" class="magic-radio" type="radio" name="use_comment" value="{{ TYPE_USE_COMMENT }}"
                       {% if use_comment is not defined or use_comment == TYPE_USE_COMMENT %}checked="checked"{% endif %}/>
                <label for="comment">댓글 허용</label>
                <input id="noComment" class="magic-radio" type="radio" name="use_comment" value="{{ TYPE_NO_COMMENT }}"
                       {% if use_comment is defined and use_comment == TYPE_NO_COMMENT %}checked="checked"{% endif %}/>
                <label for="noComment">댓글 허용 안함</label>
              </div>
            </div>
            <!-- //== 판매 옵션 -->
            <!-- == 전시비 옵션 -->
            <div class="isFree clear">
              <div class="title">전시비</div>
              <div class="radio">
                <input id="isFree" class="magic-radio" type="radio" name="exhibition_is_free"
                       value="{{ EXHIBITION_PAID }}"
                       {% if exhibition_is_free is not defined or exhibition_is_free == EXHIBITION_PAID %}checked="checked"{% endif %}/>
                <label for="isFree">지급</label>
                <input id="isNotFree" class="magic-radio" type="radio" name="exhibition_is_free"
                       value="{{ EXHIBITION_FOR_FREE }}"
                       {% if exhibition_is_free is defined and exhibition_is_free == EXHIBITION_FOR_FREE %}checked="checked"{% endif %}/>
                <label for="isNotFree">지급 안함</label>
              </div>
            </div>
            <!-- //== 전시비 옵션 -->
          </div>
        </div>
        <!-- //== 옵션 선택 -->
        <!-- == 취소, 등록 -->
        <div class="buttons">
          {# TODO: 취소시 어디로 ROUTE? #}
          <a href="#" class="cancelBtn">취소</a>
          <button type="submit" class="registerBtn">등록</button>
        </div>
        <!-- //== 취소, 등록 버튼 -->
      </form>
      <!-- //== 업로드 폼 -->
    </div>
  </div>

  {# TODO: ALERT? #}
  {% if error %}
    에러 메시지: {{ error|raw }}
    <br>
    <br>
  {% endif %}
{% endblock %}
