{% extends "base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ 'dist/css/places/exhibitions.min.css' | static_url }}">
  <link rel="stylesheet" type="text/css" href="{{ 'dist/magic-check/magic-check.min.css' | static_url }}">

  <style>
    #patDetail .container .placeDetail .preview {
      background: url("{{ place.image | image_url }}") center center;
      background-size: 100% auto;
    }
  </style>
{% endblock %}

{% block buttons %}
{% endblock %}

{% block contents %}

  <div id="patDetail">
    <div class="container">
      <div class="placeDetail">

        <div class="dimm"></div>
        <div class="preview"></div>

        <div class="meta">
          <div class="title"><a href="/places/{{ place.id }}">{{ place.name }}</a></div>
          <div class="additionalInfo">총 등록된 전시 {{ exhibitions | length }}개 | 종료된 전시 {{ exhibitions | length }}개 (TODO 나눠서 카운트)</div>
        </div>

      </div>


      <div class="exhibitions">
        <div class="addExhibition">
          <a href="#" onclick="alert('haha');">
            <img src="{{ 'images/plus.png' | static_url }}"/> <span class="addExhibitionText">새로운 전시 등록하기</span>
          </a>
        </div>

        <hr class="divider" />

        <!-- 입력/수정 블록 -->
        <div class="exhibition">
          <input type="hidden" id="exhibitionId" value="{{ exhibition.id }}">
          <span class="title">
            <input class="input" value="입력중이거나 수정중인 전시" placeholder="전시명을 입력해주세요.">
          </span>
          <span class="pull-right">
            <ul>
              <li class="deleteBtn">삭제</li>
              <li class="confirmBtn">완료</li>
            </ul>
          </span>
          <hr class="divider">
          <div class="meta">

            <div class="leftPane">
              <div class="column_name">전시일정</div>
              <input class="start_date" value="{{ exhibition.start_date | date('Y.m.d') }}"> 부터
              <input class="end_date" value="{{ exhibition.end_date | date('Y.m.d') }}"> 까지

              <br>

              <div class="column_name">작품수</div>
              <input class="artwork_count" value="{{ exhibition.artwork_count }}">개<br>

            </div>


            <div class="rightPane">
              <div class="column_name">전시</div>
              <div class="radio">
                <input id="statusNeed" class="magic-radio" type="radio" name="status"
                       value="{{ PLACE_STATUS_NEED_ARTWORK }}"
                       {% if status is not defined or status == PLACE_STATUS_NEED_ARTWORK %}checked="checked"{% endif %}/>
                <label for="statusNeed">작품모집중</label>
                <input id="statusNotNeed" class="magic-radio" type="radio" name="status"
                       value="{{ PLACE_STATUS_NOT_NEED_ARTWORK }}"
                       {% if status is defined and status == PLACE_STATUS_NOT_NEED_ARTWORK %}checked="checked"{% endif %}/>
                <label for="statusNotNeed">모집완료</label>
              </div>

              <br>

              <div class="column_name">전시비</div>
              <div class="radio">
                <input id="isFree" class="magic-radio" type="radio" name="exhibition_is_free"
                       value="{{ EXHIBITION_PAID }}"
                       {% if exhibition_is_free is not defined or exhibition_is_free == EXHIBITION_PAID %}checked="checked"{% endif %}/>
                <label for="isFree">지급</label>
                <input id="isNotFree" class="magic-radio" type="radio" name="exhibition_is_free"
                       value="{{ EXHIBITION_FOR_FREE }}"
                       {% if exhibition_is_free is defined and exhibition_is_free == EXHIBITION_FOR_FREE %}checked="checked"{% endif %}/>
                <label for="isNotFree">지급 안함</label>
              </div>
            </div>
            <br>

          </div>
        </div>

        {% for exhibition in exhibitions %}
        <div class="exhibition">
          <input type="hidden" id="exhibitionId" value="{{ exhibition.id }}">
          <span class="title">{{ exhibition.title }}</span>
          <span class="status">상태 TODO {{ exhibition.status }}</span>
          <span class="pull-right">
            <ul>
              <li class="modifyBtn">수정</li>
            </ul>
          </span>
          <hr class="divider">
          <div class="meta">
            <span class="column_name">전시일정</span>
            {{ exhibition.start_date | date('Y.m.d') }} ~ {{ exhibition.end_date | date('Y.m.d') }}<br>
            <span class="column_name">작품수</span> {{ exhibition.artwork_count }}<br>
          </div>
        </div>
        {% endfor %}
      </div>


    </div>
  </div>
{% endblock %}
