{% extends "base.twig" %}

{% block style %}
  <link rel="stylesheet" href="{{ 'dist/css/places/exhibitions.min.css' | static_url }}">
  <link rel="stylesheet" href="{{ 'dist/magic-check/magic-check.min.css' | static_url }}">

  <style>
    #patDetail .container .placeDetail .preview {
      background: url("{{ place.image | image_url }}") center center;
      background-size: 100% auto;
    }
  </style>
{% endblock %}

{% block script %}
  <script src="{{ 'dist/js/jquery-ui.min.js' | static_url }}"></script>
  <script src="{{ 'dist/js/datepicker-ko.js' | static_url }}"></script>
  <script>
    $(function () {
      // 포커싱 UI를 위한 처리
      $(document).on('focus', 'input[type=text]', function () {
        $(this).closest('.exhibition').addClass('active');
      });

      $(document).on('blur', 'input[type=text]', function () {
        $(this).closest('.exhibition').removeClass('active');
      });

      // 전시 추가
      $('.addExhibitionBtn').click(function () {
        var exhibitionForm = $('.addExhibitionForm');

        initializeExhibitionForm(exhibitionForm);
        exhibitionForm.show();

        return false;
      });

      // datepicker
      $("input[name=exhibition_start_date]").datepicker();
      $("input[name=exhibition_end_date]").datepicker();

      // 전시 삭제
      $('.addExhibitionForm .deleteBtn').click(function () {
        var exhibitionForm = $(this).closest('.exhibitionForm');

        initializeExhibitionForm(exhibitionForm);
        exhibitionForm.hide();

        clearValidation();

        return false;
      });

      validator = constructValidation($('.exhibitionForm'));

      // 확인 버튼
      $(document).on('click', '.confirmBtn', function () {
        var form = $(this).closest('.exhibitionForm');

        var result = form.valid();
        if (!result) {
          return false;
        }

        if (form.hasClass('addExhibitionForm')) {
          createExhibition(form);
        } else {
          updateExhibition(form);
        }
      });

      // 수정 버튼
      $(document).on('click', '.modifyBtn', function () {
        var exhibitionDiv = $(this).closest('div.exhibition');
        var exhibitionData = eval($(exhibitionDiv).data('exhibition-value'));

        // 중복 추가 방지
        if ($('.exhibitionForm[data-exhibition-id="' + exhibitionData.id +'"]').length > 0) {
          return false;
        }

        var clone = $('.addExhibitionForm').clone();

        clone.removeClass('addExhibitionForm');
        clone.addClass('editExhibitionForm');

        clone.find('input[name=exhibitionId]').val(exhibitionData.id);
        clone.find('input[name=exhibition_start_date]').val(exhibitionDiv.data('exhibition-start')).attr('id', 'exhibition_start_date_' + exhibitionData.id);
        clone.find('input[name=exhibition_end_date]').val(exhibitionDiv.data('exhibition-end')).attr('id', 'exhibition_end_date_' + exhibitionData.id);
        clone.find('input[name=exhibition_title]').val(exhibitionData.title);
        clone.find('input[name=exhibition_artwork_count]').val(exhibitionData.artwork_count);

        clone.find('input[name=exhibition_is_free]').attr('name', 'exhibition_is_free_' + exhibitionData.id);
        clone.find('input[name=status]').attr('name', 'status_' + exhibitionData.id);

        clone.find('input[type=radio]').each(function (key, value) {
          var elemId = $(value).attr('id');
          elemId += '_' + exhibitionData.id;

          $(value).attr('id', elemId);
        });

        clone.find('label').each(function (key, value) {
          var elemFor = $(value).attr('for');
          elemFor += '_' + exhibitionData.id;

          $(value).attr('for', elemFor);
        });

        clone.insertAfter(exhibitionDiv);
        clone.show();

        clone.find('input[name=exhibition_title]').focus();
        clone.attr('data-exhibition-id', exhibitionData.id);

        constructValidation(clone);

        $(document).find("input[name=exhibition_start_date]").removeClass('hasDatepicker').datepicker();
        $(document).find("input[name=exhibition_end_date]").removeClass('hasDatepicker').datepicker();

        return false;
      });

      $(document).on('click', '.editExhibitionForm .deleteBtn', function () {
        var form = $(this).closest('.exhibitionForm');
        deleteExhibition(form);

        return false;
      });
    });

    function initializeExhibitionForm(elem) {
      $(elem).find('input[type=text]').val('');

      resetRadioElementWithName(elem, 'status');
      resetRadioElementWithName(elem, 'exhibition_is_free');
    }

    function resetRadioElementWithName(elem, name) {
      $(elem).find('input[type=radio][name=' + name + ']').removeAttr('checked', '')
        .filter(':first-child').attr('checked', 'checked');
    }

    function constructValidation(form) {
      return $(form).validate({
        rules: {
          exhibition_title: {
            required: true,
            maxlength: 70
          },
          exhibition_start_date: {
            required: true
          },
          exhibition_end_date: {
            required: true
          },
          exhibition_artwork_count: {
            required: true
          }
        },
        messages: {
          exhibition_title: {
            required: '전시명을 입력해 주세요.',
            maxlength: '작품명은 70자 까지 입력 가능 합니다.'
          },
          exhibition_start_date: {
            required: '전시 시작 일자를 입력해 주세요.'
          },
          exhibition_end_date: {
            required: '전시 종료 일자를 입력해 주세요.'
          },
          exhibition_artwork_count: {
            required: '작품 수를 입력해 주세요.'
          }
        }
      });
    }

    function clearValidation() {
      $('.tooltip').hide();
    }

    function createExhibition(form) {
      $.ajax({
        type: "POST",
        url: '/api/exhibition/create',
        data: {
          place_id: {{ place.id }},
          start_date: form.find('input[name=exhibition_start_date]').val(),
          end_date: form.find('input[name=exhibition_end_date]').val(),
          title: form.find('input[name=exhibition_title]').val(),
          artwork_count: form.find('input[name=exhibition_artwork_count]').val(),
          is_free: form.find('input[name=exhibition_is_free]').val(),
          is_applicable: form.find('input[name=status]').val()
        },
        dataType: 'json',
        success: function (response) {
          if (!response.result) {
            alert(response.body.message);
            return false;
          }

          alert(response.body.message);
          location.reload();
        }
      });
    }

    function updateExhibition(form) {
      var id = form.find('input[name=exhibitionId]').val();
      $.ajax({
        type: "POST",
        url: '/api/exhibition/update',
        data: {
          id: id,
          place_id: {{ place.id }},
          start_date: form.find('input[name=exhibition_start_date]').val(),
          end_date: form.find('input[name=exhibition_end_date]').val(),
          title: form.find('input[name=exhibition_title]').val(),
          artwork_count: form.find('input[name=exhibition_artwork_count]').val(),
          is_free: form.find('input[name=exhibition_is_free_' + id + ']').val(),
          is_applicable: form.find('input[name=status_' + id + ']').val()
        },
        dataType: 'json',
        success: function (response) {
          if (!response.result) {
            alert(response.body.message);
            return false;
          }

          alert(response.body.message);
          location.reload();
        }
      });
    }

    function deleteExhibition(form) {
      var id = form.find('input[name=exhibitionId]').val();
      $.ajax({
        type: "POST",
        url: '/api/exhibition/delete',
        data: {
          id: id
        },
        dataType: 'json',
        success: function (response) {
          if (!response.result) {
            alert(response.body.message);
            return false;
          }

          alert(response.body.message);
          location.reload();
        }
      });
    }
  </script>
{% endblock %}

{% block buttons %}
{% endblock %}

{% block contents %}

  <div class="exhibitionMeta fullSize">
    <div class="dimm"></div>
    <div class="preview"></div>
    <div class="container">
      <div class="meta">
        <div class="title"><a href="/places/{{ place.id }}">{{ place.name }}</a></div>
        <div class="additionalInfo">총 등록된 전시 {{ exhibitions | length }}개 | 종료된 전시 {{ closed_exhibition_count }}개</div>
      </div>
    </div>
  </div>

  <div id="patDetail">
    <div class="container">

      <div class="exhibitions">
        <div class="addExhibition">
          <a href="#" class="addExhibitionBtn">
            <img src="{{ 'images/plus.png' | static_url }}"/> <span class="addExhibitionText">새로운 전시 등록하기</span>
          </a>
        </div>

        <hr class="divider"/>

        <!-- 입력/수정 블록 -->
        <form class="exhibition exhibitionForm addExhibitionForm" style="display: none;">
          <input type="hidden" name="exhibitionId" value="">
          <span class="title">
            <input type="text" name="exhibition_title" class="input" placeholder="전시명을 입력해주세요.">
          </span>
          <span class="pull-right">
            <a href="#" class="deleteBtn">삭제</a>
            <a href="#" class="confirmBtn">완료</a>
          </span>
          <hr class="divider">
          <div class="meta">
            <!-- == 왼쪽 패널 -->
            <div class="leftPane">
              <div class="fields exhibitionDate clear">
                <div class="column_name">전시일정</div>
                <div class="field">
                  <input type="text" class="exhibition_start_date" name="exhibition_start_date" placeholder="{{ now|date('Ymd') }}"
                         value="{% if exhibition.start_date is not null %}{{ exhibition.start_date|date('Ymd') }}{% endif %}"
                         title="전시 시작 일정"> 부터
                  <input type="text" class="exhibition_end_date" name="exhibition_end_date" placeholder="{{ now|date('Ymd') }}"
                         value="{% if exhibition.end_date is not null %}{{ exhibition.end_date|date('Ymd') }}{% endif %}"
                         title="전시 종료 일정"> 까지
                </div>
              </div>

              <div class="fields exhibitionNumber clear">
                <div class="column_name">작품수</div>
                <div class="field">
                  <input type="text" name="exhibition_artwork_count" min="0" max="100" placeholder="0"
                         value="{{ exhibition.artwork_count }}" /> 점
                </div>
              </div>
            </div>
            <!-- //== 왼쪽 패널 종료 -->
            <!-- == 오른쪽 패널 -->
            <div class="rightPane">
              <!-- == 전시 상태 옵션 시작 -->
              <div class="fields clear">
                <div class="column_name">전시</div>
                <div class="radio">
                  <input id="statusNeed" class="magic-radio" type="radio" name="status"
                         value="{{ EXHIBITION_APPLICABLE }}"
                         {% if exhibition.is_applicable is not defined or exhibition.is_applicable == EXHIBITION_APPLICABLE %}checked="checked"{% endif %}/>
                  <label for="statusNeed">작품모집중</label>
                  <input id="statusNotNeed" class="magic-radio" type="radio" name="status"
                         value="{{ EXHIBITION_NOT_APPLICABLE }}"
                         {% if exhibition.is_applicable is defined and exhibition.is_applicable == EXHIBITION_NOT_APPLICABLE %}checked="checked"{% endif %}/>
                  <label for="statusNotNeed">모집완료</label>
                </div>
              </div>
              <!-- //== 전시 상태 옵션 종료 -->
              <!-- == 전시비 옵션 시작 -->
              <div class="fields clear">
                <div class="column_name">전시비</div>
                <div class="radio">
                  <input id="isFree" class="magic-radio" type="radio" name="exhibition_is_free"
                         value="{{ EXHIBITION_PAID }}"
                         {% if exhibition_is_free is not defined or exhibition_is_free == EXHIBITION_PAID %}checked="checked"{% endif %}/>
                  <label for="isFree">지급</label>
                  <input id="isNotFree" class="magic-radio" type="radio" name="exhibition_is_free"
                         value="{{ EXHIBITION_FOR_FREE }}"
                         {% if exhibition_is_free is defined and exhibition_is_free == EXHIBITION_FOR_FREE %}checked="checked"{% endif %}/>
                  <label for="isNotFree">지급 안함</label>
                </div>
              </div>
              <!-- //== 전시비 옵션 종료 -->
            </div>
            <!-- //== 오른쪽 패널 종료 -->
          </div>
        </form>

        {% for exhibition in exhibitions %}
          <div class="exhibition" data-exhibition-value="{{ exhibition|json_encode }}"
               data-exhibition-start="{{  exhibition.start_date|date('Ymd') }}" data-exhibition-end="{{  exhibition.end_date|date('Ymd') }}">
            <input type="hidden" id="exhibitionId" value="{{ exhibition.id }}">
            <span class="title">{{ exhibition.title }}</span>
            {% if exhibition.status == EXHIBITION_NOW_EXHIBITING %}
              <span class="status now">전시중</span>
            {% elseif exhibition.status == EXHIBITION_END %}
              <span class="status ended">종료된 전시</span>
            {% endif %}
            {% if exhibition.status != EXHIBITION_END %}
              <span class="pull-right">
                <a href="#" class="modifyBtn">수정</a>
              </span>
            {% endif %}
            <hr class="divider">
            <div class="meta">
              <div class="fields clear">
                <span class="title_name">전시일정</span>
                <div class="field noInput">
                  {{ exhibition.start_date | date('Y.m.d') }} ~ {{ exhibition.end_date | date('Y.m.d') }}
                </div>
              </div>
              <div class="fields clear">
                <span class="title_name">작품수</span>
                <div class="field noInput">{{ exhibition.artwork_count }}</div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>


    </div>
  </div>
{% endblock %}
