{% extends "email/base.twig" %}

{% block hidden_text %}
    PICK ART YOU 작품 지원 안내
{% endblock %}

{% block contents %}
  <table width="420" cellpadding="0" cellspacing="0" border="0" class="container"> 
    <tr> 
      <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
    </tr>
    <tr> 
      <td align="center" style="font-family: 'Noto Sans KR', sans-serif; word-break:keep-all; font-weight:200; font-size:16px; line-height:20px; letter-spacing: -0.2px; color:#666666;" class="body-text"> 
        <p style="font-family: 'Noto Sans KR', sans-serif; font-size:16px; word-break:keep-all; line-height:22px; letter-spacing: -0.2px; color:#666666; padding:0; margin:0;" class="body-text">
          <multiline>  <span style="font-weight:700;">{{ user_name }}</span>님의 전시에 지원한 작품이 있습니다.<br><br> </multiline>
        </p>
      </td>
    </tr>

    {% for artwork in artworks %}
    <tr> 
      <td align="center" style="font-family: 'Noto Sans KR', sans-serif; word-break:keep-all; font-weight:200; font-size:16px; line-height:20px; letter-spacing: -0.2px; color:#666666; align-content: center" class="body-text">  <img src="{{ base_url() }}{{ artwork.image | thumb_url }}" width="288rem" height="220rem">  <br>  {{ artwork.title }}  <br>  <br>  <br> 
      </td>
    </tr>
    {% endfor %}

    <tr> 
      <td align="center" style="font-family: 'Noto Sans KR', sans-serif; word-break:keep-all; font-weight:200; font-size:16px; line-height:20px; letter-spacing: -0.2px; color:#666666;" class="body-text"> 
        <p style="font-family: 'Noto Sans KR', sans-serif; font-size:16px; word-break:keep-all; line-height:22px; letter-spacing: -0.2px; color:#666666; padding:0; margin:0;" class="body-text"> 
          <multiline>  <br>  작품이 마음에 드셨나요? <br>  PICK ART YOU에 접속해서 전시될 작품을 선택해주세요. </multiline>
        </p>
      </td>
    </tr>
    <tr> 
      <td align="center"> 
        <p style="padding:43px 0 54px 0;"> 
          <a href="{{ base_url() }}users/{{ user_name }}?show_applied_list=1" target="_blank" style="background-color:black;padding:15px 45px;color:white;text-decoration:none; font-weight:500;">
            PICK ART YOU 작품 선택하기 &gt;
          </a> 
        </p> 
      </td>
    </tr>
  </table> 
{% endblock %}
