{% extends "base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ 'dist/css/users/mypage.min.css' | static_url }}">
{% endblock %}

{% block script %}
  <script src="{{ 'dist/js/mypage.common.js' | static_url }}"></script>
  <script type="text/javascript">
    $(function () {
      $('select[name="exhibition_id"]').change(function() {
        $('form[name="exhibition_id_frm"]').submit();
      });
      // 작품 수락하기
      $('.selectBtn').click(function () {
        var exhibitionId;
        var artworkIds = [];
        $('.checked:enabled').each(function () {
          exhibitionId = $(this).data('exhibition-id');
          artworkIds.push($(this).data('artwork-id'));
        });

        artworkIds = $.unique(artworkIds);
        if (artworkIds.length === 0) {
          alert('선택된 작품이 없습니다.');
          return false;
        }

        $.ajax({
          method: 'POST',
          url: '/api/exhibition/accept',
          data: {
            exhibition_id: exhibitionId,
            applied_artwork_ids: artworkIds
          }
        }).done(function (data) {
          alert(data.body.message);
          location.reload(true);
        });

        return false;
      });

      $('.selectItemBtn').click(function () {
        $(this).toggleClass('checked');

        var selectedCnt = $('.checked').length;
        $('.selectedCnt').text(selectedCnt);

        return false;
      });
    });
  </script>
{% endblock %}

{% block contents %}
  {% import 'macro/mypage.macro.twig' as mypage_macro %}
  {{ mypage_macro.render_profile(user, is_my_page, total_object_count, given_pick_count) }}
  {% if is_my_page %}
    {{ mypage_macro.render_tabs(user, 'apply', pick_type) }}
    {{ mypage_macro.render_password_change_modal() }}
  {% endif %}


  {% if type == 'apply' %} {# 지원한 전시 #}
    <div class="patAppliedExhibitions">
      <div class="container">
        <span class="appliedCount">지원한 전시 총 {{ exhibitions | length }}개</span>

        <table class="exhibitions">
        <thead>
          <tr>
            <th class="title">전시명</th>
            <th class="term">전시기간</th>
            <th class="status">진행상황</th>
            <th class="isApplied">지원여부</th>
            <th>지원작품</th>
          </tr>
        </thead>
        <tbody>
      {% for exhibition in exhibitions %}
        <tr class="showAppliedArtworks"> {# TODO 보기 누르면 showAppliedArtworks 로 변경 #}
          <td><span class="title">{{ exhibition.title }}</span></td>
          <td class="term">{{ exhibition.start_date|date('Y.m.d') }} ~ {{ exhibition.end_date|date('Y.m.d') }}</td>

          <td class="status {# TODO ex) need #}need">
            {# 진행상황 #}
            {% if date(exhibition.start_date) >= date() %}
              작품 모집중?
            {% elseif date(exhibition.start_date) <= date() and date(exhibition.end_date) >= date() %}
              모집 종료
            {% else %}
              전시종료
            {% endif %}
          </td>

          <td class="isApplied {# TODO ex) applied, confirmed, canceled #}confirmed">
            {% set status = exhibition.applied_artworks[0].apply_status %}
            {% if status == APPLY_STATUS_IN_REVIEW %}
              지원완료
            {% elseif status == APPLY_STATUS_REJECTED %}
              선택안됨
            {% elseif status == APPLY_STATUS_ACCEPTED %}
              전시확정
            {% endif %}
            <button class="button">지원취소</button>
          </td>

          <td class="artworks">
          {# 지원작품 #}
            총 n개의 작품 보기 <img src="{{ 'images/applied_arrow_down.png' | static_url }}" /><br>
            총 n개의 작품 닫기 <img src="{{ 'images/applied_arrow_up.png' | static_url }}" />

            <div class="appliedArtworks"> {# TODO show/hide #}
              <div class="pull-left">
                <img src="{{ 'images/applied_sub.png' | static_url }}" class="sub" /> <span style="margin-left: 3px">지원작품</span>
              </div>

              <div class="pull-left" style="margin-left: 5px">
              {% for artwork in exhibition.applied_artworks %}
                <img src="{{ artwork.image | thumb_url() }}" class="imgThumb" class="pull-left"/>
              {% endfor %}
              </div>
            </div>

          </td>
        </tr>
      {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  {% elseif type == 'applicant' %} {# 지원작가 #}
    <div class="patApplyExhibition container">
      {# 모든 전시 리스트 #}
      <form id="exhibition_id_frm" method="GET">
        <div class="leftSection pull-left">
          <label>전시명</label>
          <select name="exhibition_id">
            <option value="">전시를 선택해주세요.</option>
            {% for exhibition in exhibitions %}
              <option value="{{ exhibition.id }}" {% if exhibition_id == exhibition.id %}selected="selected"{% endif %}>{{ exhibition.id }}{{ exhibition.title }}</option>
            {% endfor %}
          </select>
          <label>전시 기간</label>
          <span class="date">2017.05.05 ~ 2017.05.06</span>
        </div>
        {% if exhibition_id %}
          {% if selected_exhibition.applied_artworks | length > 0 %}
            <div class="rightSection">
              <div class="exhibitionApplySelect">
                <button class="cancelBtn">선택취소</button>
                <button class="selectBtn">작가확정</button>
              </div>
            </div>
          {% endif %}
        {% endif %}
      </form>

      <div class="divider" style="clear: both;"></div>

      <div class="applyMetadata">
        <div class="totalApplyLabel">총 지원작품 <span class="selected">작품 <span class="number">8</span>개 선택</span></div>
      </div>

      <div class="applyArtists">
        <div class="artistItem">
          <div class="metadata">
            <div class="name">유슬기</div>
            <div class="reason">
자개를 파는 일을 합니다.자개를 파는 일을 합니다.자개를 파는 일을 합니다.자개를 파는 일을 합니다.자개를 파는 일을 합니다.자개를 파는 일을 합니다.자개를 파는 일을 합니다.자개를 파는 일을 합니다.
            </div>
            <div class="rightSection">
              <button class="mailSendBtn"><img src="{{ 'images/mail.png' | static_url }}" /></button>
              <button class="allSelectBtn active">이 작가 전체 작품 선택</button>
            </div>
          </div>
          <div class="artworks">
            <div class="artworkItem selected">
              <img src="{{ 'images/mail.png' | static_url }}" />
            </div>
            <div class="artworkItem">
              <img src="{{ 'images/mail.png' | static_url }}" />
            </div>
            <div class="artworkItem">
              <img src="{{ 'images/mail.png' | static_url }}" />
            </div>
            <div class="artworkItem">
              <img src="{{ 'images/mail.png' | static_url }}" />
            </div>
            <div class="artworkItem">
              <img src="{{ 'images/mail.png' | static_url }}" />
            </div>
            <div class="artworkItem">
              <img src="{{ 'images/mail.png' | static_url }}" />
            </div>
            <div class="artworkItem">
              <img src="{{ 'images/mail.png' | static_url }}" />
            </div>
            <div class="artworkItem">
              <img src="{{ 'images/mail.png' | static_url }}" />
            </div>
          </div>
        </div>
      </div>

    </div>

  {% endif %}

{% endblock %}
