{% extends "base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ 'dist/css/users/mypage.min.css' | static_url }}">
{% endblock %}

{% block script %}
  <script src="{{ 'dist/js/mypage.common.js' | static_url }}"></script>
  <script type="text/javascript">
    $(function () {
      $('select[name="exhibition_id"]').change(function() {
        $('#exhibition_id_frm').submit();
      });
      // 작품 수락하기
      $('.selectBtn').click(function () {
        var exhibitionId;
        var artworkIds = [];
        $('.checked:enabled').each(function () {
          exhibitionId = $(this).data('exhibition-id');
          artworkIds.push($(this).data('artwork-id'));
        });

        artworkIds = $.unique(artworkIds);
        if (artworkIds.length === 0) {
          alert('선택된 작품이 없습니다.');
          return false;
        }

        $.ajax({
          method: 'POST',
          url: '/api/exhibition/accept',
          data: {
            exhibition_id: exhibitionId,
            applied_artwork_ids: artworkIds
          }
        }).done(function (data) {
          alert(data.body.message);
          location.reload(true);
        });

        return false;
      });

      $('.selectItemBtn').click(function () {
        $(this).toggleClass('checked');

        var selectedCnt = $('.checked').length;
        $('.selectedCnt').text(selectedCnt);

        return false;
      });
    });

    function show_and_hide(e) {
      var type;
      var tr = $(e).closest("tr");

      var is_show = tr.hasClass("showAppliedArtworks") ? true : false;

      var appliedArtworksDiv = tr.find(".appliedArtworks");

      var arrowImagePath = "";

      if (is_show) {
        type = "보기";
        appliedArtworksDiv.hide();
        tr.removeClass("showAppliedArtworks");
        arrowImagePath = "{{ 'images/applied_arrow_down.png' | static_url }}";
      } else {
        type = "닫기";
        appliedArtworksDiv.show();
        tr.addClass("showAppliedArtworks");
        arrowImagePath = "{{ 'images/applied_arrow_up.png' | static_url }}";
      }

      $(e).find(".text").text(type);
      tr.find(".arrow").attr("src", arrowImagePath);
    }

    // 지원 취소
    function cancel_apply(e) {

      if (confirm("지원을 취소하시겠습니까?") === false) {
        return false;
      }

      var exhibition_id = $(e).data("id");

      $.ajax({
        method: 'POST',
        url: '/api/exhibition/cancel_apply',
        data: {
          exhibition_id: exhibition_id,
        }
      }).done(function (data) {
        alert(data.body.message);
        location.reload(true);
      });

    }


    //////// 지원작가
    function change_exhibition(e) {
      location.href = "?exhibition_id=" + e.value;
    }

  </script>
{% endblock %}

{% block contents %}
  {% import 'macro/mypage.macro.twig' as mypage_macro %}
  {{ mypage_macro.render_profile(user, is_my_page, total_object_count, given_pick_count) }}
  {% if is_my_page %}
    {{ mypage_macro.render_tabs(user, 'apply', pick_type) }}
    {{ mypage_macro.render_password_change_modal() }}
  {% endif %}


  {% if type == 'apply' %} {# 지원한 전시 #}
    <div class="patAppliedExhibitions">
      <div class="container">
        <span class="appliedCount">지원한 전시 총 {{ exhibitions | length }}개</span>

      <table class="exhibitions">
      <thead>
        <tr>
          <th class="title">전시명</th>
          <th class="term">전시기간</th>
          <th class="status">진행상황</th>
          <th class="isApplied">지원여부</th>
          <th>지원작품</th>
        </tr>
      </thead>
      <tbody>
    {% for exhibition in exhibitions %}
      <tr data-id="{{ exhibition.id }}">
        <td><span class="title">{{ exhibition.title }}</span></td>
        <td class="term">{{ exhibition.start_date|date('Y.m.d') }} ~ {{ exhibition.end_date|date('Y.m.d') }}</td>

        {% set status_class = "" %}
        {% set status_text = "" %}
        {% if date(exhibition.start_date) >= date() %}
          {% set status_class = "need" %}
          {% set status_text = "모집진행" %}
        {% elseif date(exhibition.start_date) <= date() and date(exhibition.end_date) >= date() %}
          {% set status_class = "" %}
          {% set status_text = "모집종료" %}
        {% else %}
          {% set status_class = "" %}
          {% set status_text = "전시종료" %}
        {% endif %}

        <td class="status {{ status }}">
          {{ status_text }}
        </td>

        {% set status = exhibition.applied_artworks[0].apply_status %}
        {% if status_class == APPLY_STATUS_IN_REVIEW %}
          {% set status_class = "applied" %}
          {% set status_text = "지원완료" %}
        {% elseif status == APPLY_STATUS_REJECTED %}
          {% set status_class = "" %}
          {% set status_text = "선택안됨" %}
        {% elseif status == APPLY_STATUS_ACCEPTED %}
          {% set status_class = "confirmed" %}
          {% set status_text = "전시확정" %}
        {% endif %}

        <td class="isApplied {{ status_class }}">
          {{ status_text }}
          {% if status == APPLY_STATUS_IN_REVIEW %}
          <button class="button" data-id="{{ exhibition.id }}" onclick="cancel_apply(this)">지원취소</button>
          {% endif %}
        </td>

        <td class="artworks">
        {# 지원작품 #}
          총 {{ exhibition.applied_artworks|length }}개의 작품
          <span onclick="show_and_hide(this)">
            <span class="text">보기</span>
            <img src="{{ 'images/applied_arrow_down.png' | static_url }}" class="arrow" />
          </span>

          <div class="appliedArtworks">
            <div class="pull-left">
              <img src="{{ 'images/applied_sub.png' | static_url }}" class="sub" /> <span style="margin-left: 3px">지원작품</span>
            </div>

            <div class="pull-left" style="margin-left: 5px">
            {% for artwork in exhibition.applied_artworks %}
              <img src="{{ artwork.image | thumb_url() }}" class="imgThumb pull-left" />
            {% endfor %}
            </div>
          </div>

        </td>
      </tr>
      {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  {% elseif type == 'applicant' %} {# 지원작가 #}
    <div class="patApplyExhibition container">
      {# 모든 전시 리스트 #}
      <form id="exhibition_id_frm" method="GET">
        <div class="leftSection pull-left">
          <label>전시명</label>
          <select name="exhibition_id" onchange="change_exhibition(this)">
            {% for exhibition in exhibitions %}
              <option value="{{ exhibition.id }}" {% if exhibition_id == exhibition.id %}selected="selected"{% endif %}>{{ exhibition.title }}</option>
            {% endfor %}
          </select>
          {% if exhibition_id %}
            <label>전시 기간</label>
            <span class="date">{{ selected_exhibition.start_date | date('Y.m.d') }} ~ {{ selected_exhibition.end_date | date('Y.m.d') }}</span>
          {% endif %}
        </div>
        {% if exhibition_id %}
          {% if selected_exhibition.applied_artworks | length > 0 %}
            <div class="rightSection">
              <div class="exhibitionApplySelect">
                <button class="cancelBtn">선택취소</button>
                <button class="selectBtn">작가확정</button>
              </div>
            </div>
          {% endif %}
        {% endif %}
      </form>

      {% if exhibition_id %}
        <div class="divider" style="clear: both;"></div>

        <div class="applyMetadata">
          <div class="totalApplyLabel">총 지원작품 <span class="selected">작품 <span class="number">8</span>개 선택</span></div>
        </div>

        <div class="applyArtists">
          {% for artist_artworks in artists %}
            <div class="artistItem">
              <div class="metadata">
                <div class="name">{{ artist_artworks[0].user_name }}</div>
                <div class="reason">{{ artist_artworks[0].apply_reason }}</div>
                <div class="rightSection">
                  <button class="mailSendBtn"><a href="mailto:{{ artist_artworks[0].email }}"><img src="{{ 'images/mail.png' | static_url }}" /></a></button>
                  <button class="allSelectBtn active">이 작가 전체 작품 선택</button>
                </div>
              </div>
              <div class="artworks">
                {% for artwork in artist_artworks %}
                  <div class="artworkItem selected">
                    <img src="{{ artwork.image | image_url }}" class="crop artworkImage" data-id="{{ artwork.id }}" />
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endif %}

{% endblock %}
