{% extends "base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ 'dist/css/users/mypage.min.css' | static_url }}">
{% endblock %}

{% block script %}
  <script src="{{ 'dist/js/mypage.common.js' | static_url }}"></script>
  <script type="text/javascript">
    $(function () {
      // 작품 수락하기
      $('.selectBtn').click(function () {
        var exhibitionId;
        var artworkIds = [];
        $('.checked:enabled').each(function () {
          exhibitionId = $(this).data('exhibition-id');
          artworkIds.push($(this).data('artwork-id'));
        });

        artworkIds = $.unique(artworkIds);
        if (artworkIds.length === 0) {
          alert('선택된 작품이 없습니다.');
          return false;
        }

        $.ajax({
          method: 'POST',
          url: '/api/exhibition/accept',
          data: {
            exhibition_id: exhibitionId,
            applied_artwork_ids: artworkIds
          }
        }).done(function (data) {
          alert(data.body.message);
          location.reload(true);
        });

        return false;
      });

      $('.selectItemBtn').click(function () {
        $(this).toggleClass('checked');

        var selectedCnt = $('.checked').length;
        $('.selectedCnt').text(selectedCnt);

        return false;
      });
    });
  </script>
{% endblock %}

{% block contents %}
  {% import 'macro/mypage.macro.twig' as mypage_macro %}
  {{ mypage_macro.render_profile(user, is_my_page, total_object_count, given_pick_count) }}
  {% if is_my_page %}
    {{ mypage_macro.render_tabs(user, 'apply', pick_type) }}
    {{ mypage_macro.render_password_change_modal() }}
  {% endif %}


  {% if type == 'apply' %} {# 지원한 전시 #}
  <div class="patAppliedExhibitions">
    <div class="container">
      <span class="appliedCount">지원한 전시 총 n개</span>

      <table class="exhibitions">
      <thead>
        <tr>
          <th class="title">전시명</th>
          <th class="term">전시기간</th>
          <th class="status">진행상황</th>
          <th class="isApplied">지원여부</th>
          <th>지원작품</th>
        </tr>
      </thead>
      <tbody>
    {% for exhibition in exhibitions %}
      <tr class="showAppliedArtworks"> {# TODO 보기 누르면 showAppliedArtworks 로 변경 #}
        <td><span class="title">{{ exhibition.title }}</span></td>
        <td class="term">{{ exhibition.start_date|date('Y.m.d') }} ~ {{ exhibition.end_date|date('Y.m.d') }}</td>

        <td class="status {# TODO ex) need #}need">
          진행상황 테스트
          {# 진행상황 #}
          {{ exhibition.status }}
        </td>

        {# 지원여부 TODO #}
        {% if exhibition.status == APPLY_STATUS_IN_REVIEW %}
          지원완료
        {% elseif exhibition.status == APPLY_STATUS_REJECTED %}
          선택안됨
        {% elseif exhibition.status == APPLY_STATUS_ACCEPTED %}
          전시확정
        {% endif %}
        <td class="isApplied {# TODO ex) applied, confirmed, canceled #}confirmed">
          지원여부
          <button class="button">지원취소</button>
        </td>

        <td class="artworks">
        {# 지원작품 #}
          총 n개의 작품 보기 <img src="{{ 'images/applied_arrow_down.png' | static_url }}" /><br>
          총 n개의 작품 닫기 <img src="{{ 'images/applied_arrow_up.png' | static_url }}" />

          <div class="appliedArtworks"> {# TODO show/hide #}
            <div class="pull-left">
              <img src="{{ 'images/applied_sub.png' | static_url }}" class="sub" /> <span style="margin-left: 3px">지원작품</span>
            </div>

            <div class="pull-left" style="margin-left: 5px">
            {% for artwork in exhibition.applied_artworks %}
              <img src="{{ artwork.image | thumb_url() }}" class="imgThumb" class="pull-left"/>
            {% endfor %}
            </div>
          </div>

        </td>
      </tr>
    {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


  {% elseif type == 'applicant' %} {# 지원작가 #}
  <div class="patAppliedArtist">
    <div class="exhibitionApply">
      <div class="exhibitionExpectCount">전시를 원하는 총 작품 <span class="number">{{ total_applied_count }}</span></div>
      <div class="rightSection">
        <div class="selectedCount">선택된 작품 <span class="number selectedCnt">0</span></div>
        <button class="selectBtn">채택</button>
      </div>
    </div>

    {# 전시 #}
    {% for exhibition in exhibitions %}
      {# 전시에 지원한 작품 #}
      {% for artwork in exhibition.applied_artworks %}
        <li class="item applied">
          <img src="{{ artwork.image | image_url }}" class="crop artworkImage" data-id="{{ artwork.id }}"/>
          <div class="meta">
            <div class="title">{{ artwork.title }}</div>
            <div class="name">{{ artwork.user.user_name }}</div>
          </div>
          <button class="button selectItemBtn {% if artwork.apply_status == APPLY_STATUS_ACCEPTED %}checked{% endif %}" data-exhibition-id="{{ exhibition.id }}"
                  data-artwork-id="{{ artwork.id }}" {% if artwork.apply_status == APPLY_STATUS_ACCEPTED %}disabled{% endif %}></button>
        </li>
      {% endfor %}
    {% endfor %} {# 전시 #}
  </div>
  {% endif %}

{% endblock %}
