{% extends "base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ 'dist/css/users/mypage.min.css' | static_url }}">
{% endblock %}

{% block script %}
  <script src="{{ 'dist/js/mypage.common.js' | static_url }}"></script>
  <script type="text/javascript">
    $(function () {
      $('select[name="exhibition_id"]').change(function() {
        $('form[name="exhibition_id_frm"]').submit();
      });
      // 작품 수락하기
      $('.selectBtn').click(function () {
        var exhibitionId;
        var artworkIds = [];
        $('.checked:enabled').each(function () {
          exhibitionId = $(this).data('exhibition-id');
          artworkIds.push($(this).data('artwork-id'));
        });

        artworkIds = $.unique(artworkIds);
        if (artworkIds.length === 0) {
          alert('선택된 작품이 없습니다.');
          return false;
        }

        $.ajax({
          method: 'POST',
          url: '/api/exhibition/accept',
          data: {
            exhibition_id: exhibitionId,
            applied_artwork_ids: artworkIds
          }
        }).done(function (data) {
          alert(data.body.message);
          location.reload(true);
        });

        return false;
      });

      $('.selectItemBtn').click(function () {
        $(this).toggleClass('checked');

        var selectedCnt = $('.checked').length;
        $('.selectedCnt').text(selectedCnt);

        return false;
      });
    });

    function show_and_hide(e) {
      var type;
      var tr = $(e).closest("tr");

      var is_show = tr.hasClass("showAppliedArtworks") ? true : false;

      var appliedArtworksDiv = tr.find(".appliedArtworks");

      var arrowImagePath = "";

      if (is_show) {
        type = "보기";
        appliedArtworksDiv.hide();
        tr.removeClass("showAppliedArtworks");
        arrowImagePath = "{{ 'images/applied_arrow_down.png' | static_url }}";
      } else {
        type = "닫기";
        appliedArtworksDiv.show();
        tr.addClass("showAppliedArtworks");
        arrowImagePath = "{{ 'images/applied_arrow_up.png' | static_url }}";
      }

      $(e).find(".text").text(type);
      tr.find(".arrow").attr("src", arrowImagePath);
    }

  </script>
{% endblock %}

{% block contents %}
  {% import 'macro/mypage.macro.twig' as mypage_macro %}
  {{ mypage_macro.render_profile(user, is_my_page, total_object_count, given_pick_count) }}
  {% if is_my_page %}
    {{ mypage_macro.render_tabs(user, 'apply', pick_type) }}
    {{ mypage_macro.render_password_change_modal() }}
  {% endif %}


  {% if type == 'apply' %} {# 지원한 전시 #}
  <div class="patAppliedExhibitions">
    <div class="container">
      <span class="appliedCount">지원한 전시 총 {{ exhibitions|length }}개</span>

      <table class="exhibitions">
      <thead>
        <tr>
          <th class="title">전시명</th>
          <th class="term">전시기간</th>
          <th class="status">진행상황</th>
          <th class="isApplied">지원여부</th>
          <th>지원작품</th>
        </tr>
      </thead>
      <tbody>
    {% for exhibition in exhibitions %}
      <tr data-id="{{ exhibition.id }}">
        <td><span class="title">{{ exhibition.title }}</span></td>
        <td class="term">{{ exhibition.start_date|date('Y.m.d') }} ~ {{ exhibition.end_date|date('Y.m.d') }}</td>

        {% set status = '' %}
        {% set status_text = '' %}
        {% if date(exhibition.start_date) >= date() %}
          {% set status = "need" %}
          {% set status_text = "작품모집중" %}
        {% elseif date(exhibition.start_date) <= date() and date(exhibition.end_date) >= date() %}
          {% set status = "" %}
          {% set status_text = "모집 종료" %}
        {% else %}
          {% set status = "" %}
          {% set status_text = "전시종료" %}
        {% endif %}

        <td class="status {{ status }}">
          {{ status_text }}
        </td>

        {% set status = exhibition.applied_artworks[0].apply_status %}
        {% if status == APPLY_STATUS_IN_REVIEW %}
          {% set status = "applied" %}
          {% set status_text = "지원완료" %}
        {% elseif status == APPLY_STATUS_REJECTED %}
          {% set status = "" %}
          {% set status_text = "선택안됨" %}
        {% elseif status == APPLY_STATUS_ACCEPTED %}
          {% set status = "confirmed" %}
          {% set status_text = "전시확정" %}
        {% endif %}

        <td class="isApplied {{ status }}"> {# TODO ex) applied, confirmed #}
          {{ status_text }}
          <button class="button">지원취소</button>
        </td>

        <td class="artworks">
        {# 지원작품 #}
          총 {{ exhibition.applied_artworks|length }}개의 작품
          <span onclick="show_and_hide(this)">
            <span class="text">보기</span>
            <img src="{{ 'images/applied_arrow_down.png' | static_url }}" class="arrow" />
          </span>

          <div class="appliedArtworks">
            <div class="pull-left">
              <img src="{{ 'images/applied_sub.png' | static_url }}" class="sub" /> <span style="margin-left: 3px">지원작품</span>
            </div>

            <div class="pull-left" style="margin-left: 5px">
            {% for artwork in exhibition.applied_artworks %}
              <img src="{{ artwork.image | thumb_url() }}" class="imgThumb pull-left" />
            {% endfor %}
            </div>
          </div>

        </td>
      </tr>
    {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% elseif type == 'applicant' %} {# 지원작가 #}
    {# 모든 전시 리스트 #}
    <form name="exhibition_id_frm" method="GET">
      <select name="exhibition_id">
        <option value="">== 전시를 선택해주세요 ==</option>
        {% for exhibition in exhibitions %}
          <option value="{{ exhibition.id }}" {% if exhibition_id == exhibition.id %}selected="selected"{% endif %}>{{ exhibition.id }}{{ exhibition.title }}</option>
        {% endfor %}
      </select>
    </form>

    {% if exhibition_id %}
      현재 전시 {{ selected_exhibition.title }}

      {# 전시에 지원한 작품 #}
      {% if selected_exhibition.applied_artworks | length > 0 %}
        <div class="exhibitionApply">
          <div class="exhibitionExpectCount">전시를 원하는 총 작품 <span class="number">{{ selected_exhibition.applied_artworks | length }}</span></div>
          <div class="rightSection">
            <div class="selectedCount">선택된 작품 <span class="number selectedCnt">0</span></div>
            <button class="selectBtn">채택</button>
          </div>
        </div>

        {% for artwork in selected_exhibition.applied_artworks %}
          <li class="item applied">
            <img src="{{ artwork.image | image_url }}" class="crop artworkImage" data-id="{{ artwork.id }}"/>
            <div class="meta">
              <div class="title">{{ artwork.title }}</div>
              <div class="name">{{ artwork.user_name }}</div>
            </div>
            <button class="button selectItemBtn {% if artwork.apply_status == APPLY_STATUS_ACCEPTED %}checked{% endif %}" data-exhibition-id="{{ exhibition.id }}"
                    data-artwork-id="{{ artwork.id }}" {% if artwork.apply_status == APPLY_STATUS_ACCEPTED %}disabled{% endif %}></button>
          </li>
        {% endfor %}
      {% else %}
        지원한 작품이 없습니다.
      {% endif %}
    {% else %}
      전시를 선택해주세요.
    {% endif %}

  {% endif %}

{% endblock %}
