{% extends "base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ 'dist/css/users/mypage.min.css' | static_url }}">
{% endblock %}

{% block script %}
  <script src="{{ 'dist/js/mypage.common.js' | static_url }}"></script>
{% endblock %}

{% block contents %}
  {% import 'macro/mypage.macro.twig' as mypage_macro %}
  {{ mypage_macro.render_profile(user, is_my_page, total_object_count, given_pick_count) }}
  {% if is_my_page %}
    {{ mypage_macro.render_tabs(user, 'mypage', pick_type) }}
    {{ mypage_macro.render_password_change_modal() }}
  {% endif %}

  {% if my_objects|length > 0 %}
    <!-- == 작품 또는 장소 아이템 -->
    <div class="patItemList">
      <div class="container">
        <!-- == 아이템 목록 -->
        <ul class="itemList">
          {% for item in my_objects %}
            {# 마이페이지 내 나의 작품/장소 #}
            {% if user.type == USER_TYPE_ARTIST %}
              {{ mypage_macro.render_mypage_grid_item(item, TYPE_ARTWORKS, loop.index) }}
            {% elseif user.type == USER_TYPE_PLACE_OWNER and show_applied_list is empty %}
              {{ mypage_macro.render_mypage_place_item(item) }}
            {% endif %}
          {% endfor %}
        </ul>
        <!-- //== 아이템 목록 -->
      </div>
    </div>
    <!-- //== 작품 또는 장소 아이템 -->
  {% else %}
    <!-- == 아이템 없음 -->
    <div class="itemEmpty">
      <div class="container">
        {% if user.type == USER_TYPE_ARTIST %}
          <p class="empty">아직 등록된 작품이 없습니다 :)</p>
          {% if is_my_page %}
            <a href="/artworks/upload">작품 등록하러 가기 <i class="glyphicon glyphicon-menu-right"></i></a>
          {% endif %}
        {% elseif user.type == USER_TYPE_PLACE_OWNER %}
          <p class="empty">아직 등록된 공간이 없습니다 :)</p>
          {% if is_my_page %}
            <a href="/places/upload">공간 등록하러 가기 <i class="glyphicon glyphicon-menu-right"></i></a>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <!-- == 아이템 없음 -->
  {% endif %}
{% endblock %}
