{% extends "base.twig" %}

{% block contents %}

<table class="ui definition table">
	<tr>
		<td>주인?</td>
		<td>{{ artwork.user.name }}</td>
	</tr>
	<tr>
		<td>작품명</td>
		<td>{{ artwork.title }} PICKS: {{ artwork.pick_count }}</td>
	</tr>
	<tr>
		<td>등록일</td>
		<td>{{ artwork.upload_date }}</td>
	</tr>
	<tr>
		<td>상태</td>
		<td>
			{% if artwork.status == 1 %}
				공간구함
			{% elseif artwork.status == 2 %}
				전시중
			{% elseif artwork.status == 3 %}
				공간 구하지 않음
			{% endif %}
		</td>
	</tr>
	<tr>
		<td>판매 여부</td>
		<td>
			{% if artwork.for_sale == 1 %}
				판매함
			{% else %}
				판매 안함
			{% endif %}
		</td>
	</tr>
	<tr>
		<td>작품 설명</td>
		<td>{{ artwork.description }}</td>
	</tr>
	<tr>
		<td>댓글 허용여부</td>
		<td>
			{% if artwork.use_comment == 1 %}
				댓글 가능
			{% else %}
				댓글 불가능
			{% endif %}
		</td>
	</tr>
	<tr>
		<td>태그</td>
		<td>{{ artwork.tags }}</td>
	</tr>
	<tr>
		<td>대표이미지</td>
		<td>{{ artwork.image }}</td>
	</tr>
	<tr>
		<td>추가이미지</td>
		<td>
			{% for extra in artwork.extra_images %}
				{{ extra.image }}
			{% endfor %}
		</td>
	</tr>
</table>

	<a class="ui green button" href="/artworks/edit/{{ artwork.id }}">수정</a>
	<a class="ui button" href="/artworks">목록</a>

{% endblock %}
