{% extends "base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="/static/dist/css/artworks/detail.min.css">
{% endblock %}

{% block script %}
  <script>
    $('#pickForm').submit(function () {
      var type = $("#pickForm").find("input[name=type]").val();
      var type_id = $("#pickForm").find("input[name=type_id]").val();
      var data = {
        type: type,
        type_id: type_id
      };

      $.ajax({
        method: "POST",
        url: "/api/pick",
        data: data
      }).done(function (data) {
        console.log(data);
        if (data.body.result_type === 'on') {
          //TODO: DOM사용
          // pick 추가
          location.href = '/artworks/' + type_id;
        } else if (data.body.result_type === 'off') {
          //TODO: DOM사용
          // pick 제거
          location.href = '/artworks/' + type_id;
        } else {
          alert(data.body.message);
        }
      }).fail(function () {
        alert('서버에 문제가 있어 정상적으로 처리되지 않았습니다. \r\n잠시 후에 다시 시도해주세요.');
      });
      return false;
    });
  </script>
{% endblock %}

{% block contents %}
  <div id="patDetail">
    <div class="container">
      <!-- == 제목 -->
      <div class="meta">
        <!-- == 제목 -->
        <div class="title">
          {{ artwork.title }}
        </div>
        <!-- == 작가 -->
        <div class="name">
          {# TODO: 작가 정보 채워야함 #}
          염지희
        </div>
      </div>
      <!-- //== 제목 -->
      <!-- == 작품 -->
      <div class="artworks">
        <div class="mainThumbnail">
          <!-- == 메인 이미지 -->
          <div class="mainImage">
            <div class="image">
              <img src="http://www.with-art.com/files/attach/images/54/707/IM_2.jpg"/>
            </div>
          </div>
          <!-- //== -->
          <!-- == 저작권 -->
          <div class="copyright">
            {# TODO: 작가 정보 채워야함 #}
            Copyright &copy; 염지희 All right reserved. 작품 이미지의 도용 및 무단 재배포를 금합니다.
          </div>
          <!-- //== -->
        </div>
        {% if artwork.extra_images|length > 0 %}
          <div class="additionalImages"></div>
        {% endif %}
      </div>
      <!-- //== 작품 -->
      <!-- == 작가의 한마디 -->
      <div class="artistCommentary">
        <div class="meta">
          <div class="artistProfileImage">
            <img src="/static/images/tom.jpg" class="img-circle"/>
          </div>
          <div class="artistSays">작가님의 한마디</div>
          <ul class="status">
            <li class="exhibition">현재 전시중</li>
            <li class="buy">구매가능</li>
          </ul>
        </div>
        <div class="commentary">
          {{ artwork.description }}
          기형도 시집을 보고 떠오른 스토리들을 작업해보았다. 그 중에 첫번째 이야기인 나의 소망과 사랑이 모두 사라지는 것 같은 어느 추운날의 아침에 대한 작업입니다. 당시 여러사람을 떠나보낼 일이 있어 이런 작품을 제작하게 되었다.
        </div>
        <div class="tags">
          {{ artwork.tags }}
        </div>
        <div class="pick">
          <button class="pickBtn">
            PICK {{ artwork.pick_count }}
          </button>
        </div>
      </div>
      <!-- //== 작가의 한마디 -->
      {#{% if artwork.use_comment == 1 %}#}
        <!-- == 댓글 -->
        <div class="commentArea">
          <div class="title">댓글 <span class="number">3</span></div>
          <hr class="divider"/>
          <div class="commentMore">
            <button class="commentMoreBtn">
              이전 댓글 더보기 <i class="glyphicon glyphicon-menu-down"></i>
            </button>
          </div>
          <ul class="comments">
            {#{% for comment in comments %}#}
              <li>
                <div class="profileImage">
                  <img src="/static/images/tom.jpg" class="img-circle"/>
                </div>
                <div class="content">
                  <div class="meta">콩보리 <span class="regDate">16.02.11</span></div>
                  <div class="comment">작가님 세계관이 너무 좋으네요! 소장하고 싶은 작업들이 많지만 우선 전시장부터 가보고 찜콩해보기로 항상 화이팅입니다! 지켜보고 있는 사람들이 많다는 걸 기억해주세요. </div>
                </div>
              </li>
              <li>
                <div class="profileImage">
                  <img src="/static/images/tom.jpg" class="img-circle"/>
                </div>
                <div class="content">
                  <div class="meta">콩보리 <span class="regDate">16.02.11</span></div>
                  <div class="comment">작가님 세계관이 너무 좋으네요! 소장하고 싶은 작업들이 많지만 우선 전시장부터 가보고 찜콩해보기로 항상 화이팅입니다! 지켜보고 있는 사람들이 많다는 걸 기억해주세요. </div>
                </div>
              </li>
              <li>
                <div class="profileImage">
                  <img src="/static/images/tom.jpg" class="img-circle"/>
                </div>
                <div class="content">
                  <div class="meta">콩보리 <span class="regDate">16.02.11</span></div>
                  <div class="comment">작가님 세계관이 너무 좋으네요! 소장하고 싶은 작업들이 많지만 우선 전시장부터 가보고 찜콩해보기로 항상 화이팅입니다! 지켜보고 있는 사람들이 많다는 걸 기억해주세요. </div>
                </div>
              </li>
            {#{% endfor %}#}
          </ul>
        </div>
        <!-- //== 댓글 -->
        <!-- == 댓글 입력 -->
        <form class="commentForm">
          <textarea class="commentInput" name="comment" placeholder="작품에 대한 느낌을 남겨보세요."></textarea>
          <button type="submit">확인</button>
        </form>
        <!-- //== 댓글 입력 -->
      {#{% endif %}#}
      {#{% if exhibitions|length > 0 %}#}
        <!-- == 전시 이력 -->
        <div class="exhibitionArea">
          <div class="titleWrap">
            <div class="title">전시했던 장소</div>
            <ul class="sliderControl">
              <li class="active"><a href="#">01</a></li>
              <li><a href="#">02</a></li>
            </ul>
          </div>
          <ul class="exhibitions">
            <li>
              <a href="#">
                <div class="imgThumbnail">
                  <img src="http://www.with-art.com/files/attach/images/54/707/IM_2.jpg"/>
                </div>
                <div class="meta">
                  <div class="name">이한진</div>
                  <div class="place">
                    <div class="pin"></div>
                    <div class="keyword">홍대</div>
                  </div>
                  <div class="date">
                    2016.12.10 ~ 24
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="imgThumbnail">
                  <img src="http://www.with-art.com/files/attach/images/54/707/IM_2.jpg"/>
                </div>
                <div class="meta">
                  <div class="name">이한진</div>
                  <div class="place">
                    <div class="pin"></div>
                    <div class="keyword">홍대</div>
                  </div>
                  <div class="date">
                    2016.12.10 ~ 24
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="imgThumbnail">
                  <img src="http://www.with-art.com/files/attach/images/54/707/IM_2.jpg"/>
                </div>
                <div class="meta">
                  <div class="name">이한진</div>
                  <div class="place">
                    <div class="pin"></div>
                    <div class="keyword">홍대</div>
                  </div>
                  <div class="date">
                    2016.12.10 ~ 24
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="imgThumbnail">
                  <img src="http://www.with-art.com/files/attach/images/54/707/IM_2.jpg"/>
                </div>
                <div class="meta">
                  <div class="name">이한진</div>
                  <div class="place">
                    <div class="pin"></div>
                    <div class="keyword">홍대</div>
                  </div>
                  <div class="date">
                    2016.12.10 ~ 24
                  </div>
                </div>
              </a>
            </li>
            {#{% for exhibition in exhibitions %}#}
              {#<li>#}
                {#<a href="#">#}
                  {#{{ exhibition.place.name }} {{ exhibition.place.image }} {{ exhibition.start_date|date('Y-m-d') }} ~ {{ exhibition.end_date|date('Y-m-d') }} {{ exhibition.place.address }}#}
                {#</a>#}
              {#</li>#}
            {#{% endfor %}#}
          </ul>
        </div>
        <!-- //== 전시 이력 -->
      {#{% endif %}#}
    </div>
  </div>
  {#<table class="ui definition table">#}
    {#<tr>#}
      {#<td>주인?</td>#}
      {#<td>{{ artwork.user.name }}</td>#}
    {#</tr>#}
    {#<tr>#}
      {#<td>작품명</td>#}
      {#<td>{{ artwork.title }} PICKS: {{ artwork.pick_count }}</td>#}
    {#</tr>#}
    {#<tr>#}
      {#<td>등록일</td>#}
      {#<td>{{ artwork.upload_date }}</td>#}
    {#</tr>#}
    {#<tr>#}
      {#<td>상태</td>#}
      {#<td>#}
        {#{% if artwork.status == 1 %}#}
          {#공간구함#}
        {#{% elseif artwork.status == 2 %}#}
          {#전시중#}
        {#{% elseif artwork.status == 3 %}#}
          {#공간 구하지 않음#}
        {#{% endif %}#}
      {#</td>#}
    {#</tr>#}
    {#<tr>#}
      {#<td>판매 여부</td>#}
      {#<td>#}
        {#{% if artwork.for_sale == 1 %}#}
          {#판매함#}
        {#{% else %}#}
          {#판매 안함#}
        {#{% endif %}#}
      {#</td>#}
    {#</tr>#}
    {#<tr>#}
      {#<td>작품 설명</td>#}
      {#<td>{{ artwork.description }}</td>#}
    {#</tr>#}
    {#<tr>#}
      {#<td>댓글 허용여부</td>#}
      {#<td>#}
        {#{% if artwork.use_comment == 1 %}#}
          {#댓글 가능#}
        {#{% else %}#}
          {#댓글 불가능#}
        {#{% endif %}#}
      {#</td>#}
    {#</tr>#}
    {#<tr>#}
      {#<td>태그</td>#}
      {#<td>{{ artwork.tags }}</td>#}
    {#</tr>#}
    {#<tr>#}
      {#<td>대표이미지</td>#}
      {#<td>{{ artwork.image }}</td>#}
    {#</tr>#}
    {#<tr>#}
      {#<td>추가이미지</td>#}
      {#<td>#}
        {#{% for extra in artwork.extra_images %}#}
          {#{{ extra.image }}#}
        {#{% endfor %}#}
      {#</td>#}
    {#</tr>#}
    {#<tr>#}
      {#<td>전시 이력</td>#}
      {#<td>#}
        {#{% for exhibition in exhibitions %}#}
          {#<img#}
          {#src="{{ exhibition.place.image }}">{{ exhibition.place.name }}{{ exhibition.start_date|date('Y-m-d') }} ~ {{ exhibition.end_date|date('Y-m-d') }}#}
          {#<br>#}
        {#{% endfor %}#}
      {#</td>#}
    {#</tr>#}
    {#<tr>#}
      {#<td>pick 여부확인</td>#}
      {#<td>#}
        {#{% if is_pick == true %}#}
          {#pick을 한 작품#}
        {#{% else %}#}
          {#pick하지 않은 작품#}
        {#{% endif %}#}
      {#</td>#}
    {#</tr>#}
  {#</table>#}

  {#<form id="pickForm">#}
    {#<div class="form-group">#}
      {#<input type="hidden" name="type" value="artwork">#}
      {#<input type="hidden" name="type_id" class="form-control" value="{{ artwork.id }}">#}
    {#</div>#}
    {#<button type="submit" class="btn btn-default">pick!!!!!!!!!!!!!</button>#}
  {#</form>#}

  {#<a class="ui green button" href="/artworks/edit/{{ artwork.id }}">수정</a>#}
  {#<a class="ui button" href="/artworks">목록</a>#}
{% endblock %}
