{% extends "base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ 'dist/magnific-popup/magnific-popup.css' | static_url }}">
  <link rel="stylesheet" type="text/css" href="{{ 'dist/slick/slick.css' | static_url }}">
  <link rel="stylesheet" type="text/css" href="{{ 'dist/css/artworks/detail.min.css' | static_url }}">
  <link rel="stylesheet" type="text/css" href="{{ 'dist/css/main/main.min.css' | static_url }}">
{% endblock %}

{% block script %}
  <script src="{{ 'dist/magnific-popup/jquery.magnific-popup.min.js' | static_url }}"></script>
  <script src="{{ 'dist/slick/slick.min.js' | static_url }}"></script>
  <script src="{{ 'dist/js/detail.common.js' | static_url }}"></script>
  <script src="{{ 'dist/js/detail.comment.js' | static_url }}"></script>
{% endblock %}

{% block contents %}
  <div id="patDetail">
    <div class="container">
      <!-- == 제목 -->
      <div class="meta">
        <!-- == 제목 -->
        <div class="title">
          {{ artwork.title }}
        </div>
        <!-- == 작가 -->
        <div class="name">
          {{ artwork.user.user_name }}
        </div>
      </div>
      <!-- //== 제목 -->
      {% if session.id == artwork.user_id %}
        <!-- == 나의 글 관련 옵션 드랍다운 메뉴 -->
        <div class="dropdown">
          <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true">
            <div class="icon"></div>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a class="artworkEditBtn" data-type="{{ TYPE_ARTWORKS }}" data-id="{{ artwork.id }}">작품 수정하기</a></li>
            <li><a class="artworkDeleteBtn" data-type="{{ TYPE_ARTWORKS }}" data-id="{{ artwork.id }}">작품 삭제하기</a></li>
            <li><a class="artworkCommentToggleBtn" data-type="{{ TYPE_ARTWORKS }}" data-type-id="{{ artwork.id }}">댓글 {% if artwork.use_comment == TYPE_NO_COMMENT %}허용{% else %}비허용{% endif %}</a></li>
          </ul>
        </div>
        <!-- //== 나의 글 관련 옵션 드랍다운 메뉴 -->
      {% endif %}
      <!-- == 작품 -->
      <div class="artworks">
        <div class="mainThumbnail">
          <!-- == 메인 이미지 -->
          <div class="mainImage">
            <div class="image popupImage" data-mfp-src="{{ artwork.image | image_url }}">
              <div class="dimm"></div>
              <div class="preview">
                미리 보기 <i class="glyphicon glyphicon-menu-right"></i>
              </div>
              <img src="{{ artwork.image | thumb_url() }}"/>
            </div>
          </div>
          <!-- //== -->
          <!-- == 저작권 -->
          <div class="copyright">
            Copyright &copy; {{ artwork.user.user_name }} All right reserved. 작품 이미지의 도용 및 무단 재배포를 금합니다.
          </div>
          <!-- //== -->
        </div>
        {% if artwork.extra_images|length > 0 %}
          <div class="additionalImages">
            <div class="slider{% if artwork.extra_images|length <= 6 %} deactivate{% endif %}">
              {# data-mfp-src 에 (원본 이미지 URL) 하위 img src 에는 썸네일용 이미지 src를 설정 #}
              {% for extra in artwork.extra_images %}
                <div class="item">
                  <div class="imgThumbnail popupImage" data-mfp-src="{{ extra.image | image_url }}">
                    <div class="dimm"></div>
                    <div class="preview">미리 보기</div>
                    <img src="{{ extra.image | thumb_url }}"/>
                  </div>
                </div>
              {% endfor %}
            </div>
            {% if artwork.extra_images|length > 6 %}
              <button class="sliderPrevBtn"></button>
              <button class="sliderNextBtn"></button>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <!-- //== 작품 -->
      <!-- == 작가의 한마디 -->
      <div class="artistCommentary">
        <div class="meta">
          <div class="artistProfileImage">
            {% if artwork.user.profile_image is empty %}
              <img src="{{ 'images/avatar.png' | static_url }}" class="img-circle"/>
            {% else %}
              <img src="{{ artwork.user.profile_image | thumb_url('profile') }}" class="img-circle"/>
            {% endif %}
          </div>
          <div class="artistSays"><a href="/users/{{ artwork.user.user_name }}">{{ artwork.user.user_name }}</a>님의 한마디</div>
          <ul class="status">
            {% if artwork.is_now_exhibiting %}
              <li class="exhibition display">현재 전시중</li>
            {% elseif artwork.status == ARTWORK_STATUS_NEED_SPACE %}
              <li class="exhibition">전시공간 구함</li>
            {% endif %}
            {% if artwork.for_sale == ARTWORK_FOR_SALE %}
              <li class="buy">구매가능</li>
            {% endif %}
            {#
            <li class="exhibition_available_count">
              17.02.20 ~ 17.03.20까지 12 개의 작품 전시중
            </li>
            #}
          </ul>
        </div>
        <div class="commentary">
          {{ artwork.description|nl2br }}
        </div>
        <div class="tags">
          {{ artwork.tags_html|raw }}
        </div>
        <div class="pick">
          <button class="pickBtn{% if artwork.is_picked == 1 %} active{% endif %}" data-type="{{ TYPE_ARTWORKS }}" data-id="{{ artwork.id }}">
            PICK <span class="number">{{ artwork.pick_count }}</span>
          </button>
        </div>
      </div>
      <!-- //== 작가의 한마디 -->

      {% if artwork.for_sale == ARTWORK_FOR_SALE or artwork.status == ARTWORK_STATUS_NEED_SPACE %}
        <!-- == 전시 지원 방법 -->
        <ul class="contactTo">
          <!-- == 작가님께 메일로 연락하기 -->
          <li class="email">
            <a href="mailto:{{ artwork.user.email }}">
              작가님께 이메일로 연락하기
            </a>
          </li>
        </ul>
        <!-- //== 전시 지원 방법 -->
      {% endif %}

      {% if artwork.use_comment == 1 %}
        <!-- == 댓글 -->
        <div class="commentArea">
          <div class="title">댓글 <span class="number">{{ comment_count }}</span></div>
          <hr class="divider"/>
          {% if comment_count > 3 %}
            <div class="patLoader"></div>
            <div class="commentMore">
              <button class="commentMoreBtn"
                      data-type="{{ TYPE_ARTWORKS }}" data-type-id="{{ artwork.id }}">
                이전 댓글 더보기 <i class="glyphicon glyphicon-menu-down"></i>
              </button>
            </div>
          {% endif %}
          <ul class="comments">
            {% import 'macro/comment.macro.twig' as comment_macro %}
            {% for comment in comments %}
              {{ comment_macro.render_comment_item(comment, TYPE_ARTWORKS) }}
            {% endfor %}
          </ul>
        </div>
        <!-- //== 댓글 -->


        <!-- == 댓글 입력 -->
        <form id="commentRegisterForm" class="commentForm">
          <input type="hidden" name="type" placeholder="" value="{{ TYPE_ARTWORKS }}">
          <input type="hidden" name="type_id" placeholder="" value="{{ artwork.id }}">
          <textarea class="commentInput" name="comment" placeholder="작품에 대한 댓글을 남겨보세요."></textarea>
          <button type="submit">확인</button>
        </form>

        <!-- //== 댓글 입력 -->
      {% endif %}
      {% if exhibitions|length > 0 %}
        <!-- == 전시 이력 -->
        <div class="exhibitionArea">
          <div class="titleWrap">
            <div class="title">전시했던 장소 <span class="number">{{ exhibitions|length }}</span></div>
            {% if exhibitions|length > 4 %}
              <div class="sliderControl">
                <button class="prevBtn">
                  <span class="glyphicon glyphicon-menu-left"></span>
                </button>
                <button class="nextBtn">
                  <span class="glyphicon glyphicon-menu-right"></span>
                </button>
              </div>
            {% endif %}
          </div>
          <div class="exhibitions">
            {% for exhibition in exhibitions %}
              <div class="item">
                <a href="/places/{{ exhibition.place_id }}">
                  <div class="imgThumbnail">
                    <img src="{{ exhibition.place.image | thumb_url }}"/>
                  </div>
                  <div class="meta">
                    <div class="name">
                      {{ exhibition.place.name|length > 12 ? exhibition.place.name|slice(0, 12) ~ '...' : exhibition.place.name  }}
                    </div>
                    <div class="date">
                      {{ exhibition.start_date|date('y.m.d') }} ~ {{ exhibition.end_date|date('y.m.d') }}
                    </div>
                    <div class="place">
                      <div class="pin"></div>
                      <div class="keyword">{{ exhibition.place.area }}</div>
                    </div>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
        <!-- //== 전시 이력 -->
      {% endif %}
    </div>
  </div>
{% endblock %}
