{% extends "base.twig" %}

{% block contents %}
  
  {% if error %}
    에러 메시지: {{ error|raw }}
    <br>
    <br>
  {% endif %}
  
  <form class="ui form" method="POST" enctype="multipart/form-data">
    <div class="field">
      <label>작품명</label>
      <input type="text" name="title" placeholder="" value="{{ title }}">
    </div>
    <div class="inline fields">
      <label for="status">작품 상태</label>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="status" value="{{ ARTWORK_STATUS_NEED_SPACE }}"
                 {% if status is not defined or status == ARTWORK_STATUS_NEED_SPACE %}checked="checked"{% endif %}
                 tabindex="0">
          <label>공간구함</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="status" value="{{ ARTWORK_STATUS_NOT_NEED_SPACE }}"
                 {% if status is defined and status == ARTWORK_STATUS_NOT_NEED_SPACE %}checked="checked" {% endif %}tabindex="0">
          <label>공간 구하지 않음</label>
        </div>
      </div>
    </div>
    <div class="inline fields">
      <label for="status">판매 여부</label>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="for_sale" value="{{ ARTWORK_FOR_SALE }}"
                 {% if for_sale is defined and for_sale == ARTWORK_FOR_SALE %}checked="checked"{% endif %} tabindex="0">
          <label>판매함</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="for_sale" value="{{ ARTWORK_NOT_FOR_SALE }}"
                 {% if for_sale is not defined or for_sale == ARTWORK_NOT_FOR_SALE %}checked="checked"{% endif %} tabindex="0">
          <label>판매 안함</label>
        </div>
      </div>
    </div>
    <div class="inline fields">
      <label for="status">댓글허용</label>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="use_comment" value="{{ TYPE_USE_COMMENT }}"
                 {% if use_comment is not defined or use_comment == TYPE_USE_COMMENT %}checked="checked"{% endif %} tabindex="0">
          <label>댓글 허용함</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="use_comment" value="{{ TYPE_NO_COMMENT }}"
                 {% if use_comment is defined and use_comment == TYPE_NO_COMMENT %}checked="checked"{% endif %} tabindex="0">
          <label>댓글 허용 안함</label>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="ui">
        <label>대표 이미지</label>
        {% if image %}등록된 이미지 {{ image }}{% endif %}
        <input type="file" name="image" tabindex="0">
      </div>
    </div>
    
    <div class="field">
      <div class="ui">
        <label>추가 이미지</label>
        {% for image in extra_images %}
          <p>{{ image.image }} 삭제: <input type="checkbox" name="delete_images[]" value="{{ image.image }}"></p>
        {% endfor %}
        <input type="file" name="extra_images[]" multiple/>
      </div>
    </div>
    
    <div class="field">
      <label>작품 설명</label>
      <textarea name="description">{{ description }}</textarea>
    </div>
    
    <div class="field">
      <label>태그</label>
      <input type="text" name="tags" value="{{ tags }}">
    </div>
    
    <button class="ui button" type="submit">Submit</button>
  </form>

{% endblock %}
